/*#######################         max-width : 1200        #######################*/

@media only screen and (max-width:1400px) {
    .container {
        max-width: 1320px;
    }

   .social-menu{
        padding:8px 40px;
    }    
}


/* @media only screen and (min-width:576px) {
    .container {
        max-width: 576px;
    }
} */


/* ================= */


@media only screen and (max-width: 1280px) {

    /* .container {
        max-width: 1140px;
    } */



    body.mobile-nav {
        overflow-y: hidden;
    }


    .navigation .menu-list.responsive-menu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        z-index: 1;
        transition: 0.1s;
        bottom: 0;
        animation: menu-right 1s forwards;
        overflow: auto;
    }

    @keyframes menu-right {
        100% {
            right: 0;
        }
    }


    .responsive-menu::before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0, 106, 93, 0.8);
        z-index: -1;
    }

    .navigation .menu-list.responsive-menu ul {
        display: block;
        background: rgba(0, 131, 116, 0.9);
        padding: 33px 0 0 10px;
        height: 100%;
        overflow-y: auto;
    }

    .navigation .mob-nav-icon {
        display: block;
    }

    .navigation .menu-list {
        display: none;
    }

    .close-menu {
        position: fixed;
        top: 11px;
        right: 20px;
        z-index: 33;
        opacity: 1;
        color: var(--color-white) !important;
    }

    /* end max-width: 1200; */
}



@media only screen and (max-width: 1024px) {
    .header{
        padding-bottom: 4rem;
        border-bottom: 0px;
    }

    #banner-box{
        background: var(--color-primary);
        padding-bottom: 4rem;
    }

    .banner-four-box{
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0px;
    }

    .b-box {
        width: calc(100% / 2 - 13px);
        margin-top: 3px !important;
    }

    .b-box.move-top{
        animation: none;
    }

    .about-us{
        padding:0 20px;    /* abhishek update */
    }


    .port-product{
        width: calc(100% / 2 - 26px);
    }

    .port-product img{
        max-width: 100%;
        height: auto;
    }

    .team-member{
        width: calc(100% / 2 - 25px);
    }

    .footer .container div:first-child {
        flex-direction: column;
        width: 100%;
    }

    .footer-menu{
        margin-top: 24px;
        display: flex !important;
        width: 100% !important;
        justify-content: space-between;
    }

    .f-menu{
        flex: 1;
    }

}


@media only screen and (max-width: 768px) {

    .header .banner{
        flex-direction: column-reverse;
    }

    .header .banner > div{
           width: 100%;
           text-align: center;
    }

    .bannner-content > div{
        justify-content: center;
    }

    .about-us{
        margin: 3rem 0 0;
    }


    .about-us-blog{
        flex-direction: column;
    }

    .about-us-blog > div{
        width: 100%;
    }

    .client-detail{
        flex-direction: column;
    }

    .client-detail > div{
        width: 100%;
    }

    .about-service{
       flex: 1 356px;
    }

    .price-list{
        flex-direction: column;
    }
    .price-box.business-plan{
        transform:none;
    }

    .price-box ul {
        width: 100%;
    }

    .contact-detail{
        flex-direction: column;
    }

    .contact-detail >div{
        width: auto;
    }

    .footer .footer-menu{
        flex: 1;
        gap:0px;
        margin:0px;
    }
  
}



@media only screen and (max-width: 480px) {

  .b-box{ 
    width: 100%;
  }

  .port-product{
    width: auto;
  }

  .team-member{
    width: 100%;
  }

  .row{
    flex-wrap: wrap;
  }

  .footer .footer-menu  {
    flex-wrap: wrap;
  }
  .f-menu{
    flex:1 50%;
  }

  .f-menu:last-child{
    text-align: center;
    margin-top: 3rem;
  }
  
  

} 