@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,600&display=swap');


:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;

    --color-default: #222222;
    --color-primary: #008374;
    --color-secondary: #f85a40;
    --color-white:#fff;
    --color-active:#f96f59;
  }

  *,::before,::after
  {
    box-sizing: border-box;
    padding:0;
    margin: 0;
 }

body{
    font-family: var(--font-default);
    color: var(--color-default);
    /* background: yellow; */
}

.container{
    max-width: 1320px;
    margin: auto;
    padding: 0 15px;
    /* background-color:#566561; */
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--color-white)
}

                         /* ############################ COMMON CLASS ########################### */


.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.flex-center{
    justify-content: center !important;
}
.flex-between{
    justify-content: space-between;
}
.flex-arround{
    justify-content: space-around;
}
.flex-item{
    align-items: center;
}
.flex-column{
  flex-direction: column;
}
.mr-2{
margin-right: 5px;
}
.ml-5{
    margin-left: 5px;
}
.gap-25{
    gap: 25px;
}

.gap-10{
    gap:10px;
}

.btn{
    color:var(--color-white);
    font-weight: 500;
}

.center{
    text-align: center;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 20px;
}

.mt-10{
    margin:10px 0;
}


.italic{
    font-style: italic;
}

.py-5{
    padding: 5px 0;
}

.px-5{
    padding:0 5px;
}

.py-10{
    padding: 10px 0;
}

.px-10{
    padding:0 10px;
}
.relative{
    position: relative;
}

.section-height{
   margin: 4rem 0;
}

.content-height{
    margin: 6rem 0;
}

.bg{
    background: red;
}

.fs-14{
 font-size: 14px;
}

.section-title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.sec-desc{
    color: rgb(0 0 0 / 59%)
}

.name-title{
    font-size: 21px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: var(--font-primary);
}

.rating{
    padding:5px 0;
    color: #ffc107;
}

.bg-color{
    background:#f6f6f6;
}

.section-padding{
    padding:50px 0;
}

.d-none{
    display: none;
}




                       /* ############################  SOCIAL MENU ######################### */

.social-header{
    background: #00796b;
}
.social-menu{
    padding:8px 0;
}

.social-menu  ul li{
    display: inline-block;
}

.social-menu .contact-info  ul li a{
    padding:5px;
}

.social-menu .contact-info li:last-child{
    margin-left: 15px;
    color:var(--color-white)
}

.social-menu .social a{
 color: rgba(255,255,255,0.7);
 transition:all 0.2s ease-in-out;
}

.social-menu .social a:hover{
    color: var(--color-white);
}

.social-menu .social ul li{
    margin-left: 15px;
}


                       /* ############################  MENU (Navigation) ######################### */

.navigation{
    padding:20px 0px;
    background: var(--color-primary);
    transition: all 0.5s ease-in-out;
}
.navigation .mob-nav-icon{
    display: none;
   z-index: 3;
}
.navigation .mob-nav-icon i{
  font-size: 30px;
  color: rgb(255 255 255 / 70%);
}

.navigation.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0 19px rgb(0 0 0 / 23%);
    padding:10px 0px;
    z-index: 5;

}
.navigation .menu-list li{
   padding: 10px 0 10px 28px;
}

.menu-list li a{
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    position: relative;
    padding: 3px 4px;
    color:rgba(255,255,255,0.7)
}


.menu-list li a:hover, .menu-list li a.active{
    color: #fff;
}

.menu-list li a::after{
    content: "";
    left: 0px;
    bottom: -5px;
    position: absolute;
    width: 0;
    height: 2.6px;
    background: var(--color-secondary);
    transition: all 0.5s ease-in-out;
}

.menu-list li a:hover::after, .menu-list li a.active::after{
    color: #fff;
    width: 100%;
}


.navigation .logo h2{
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: var(--font-primary);
}


.logo span{
    color: var(--color-active);
}

                       /* ############################  Header Banner ######################### */

.header{
   background: var(--color-primary);
   padding-bottom:12rem;
}  
.banner{
    padding-top: 4rem;
}

.banner > div{
    padding-top: 3rem;
}

.banner .bannner-content{
    width: 50%;
}

.banner .bannner-image{
    width: calc(100% - 50%);
 
}

.bannner-image img{
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.bannner-content h2{

    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-white);
}

.bannner-content p{

    font-weight: 400;
    margin-bottom: 30px;
    color:  rgba(255,255,255,0.7);
}

.banner .btn-start{
    font-family: var(--font-primary);
    padding: 17px 40px;
    border-radius: 26px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    letter-spacing: 1px;
}


.banner .watch span{
    font-weight: 600;
}
.banner .watch i{
   font-size: 32px;
   color:rgba(255, 255, 255, 0.7);
}


                       /* ############################  Banner Box ######################### */
 

.b-box{
    width: calc(100% / 4);
    /* margin:-190px 0 0; */
    /* margin:-60px 0 0; */
    background: #008d7d;
    padding: 69px 0px;
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    border-radius: 8px;
}

.b-box.move-top{
    margin:-60px 0 0;
    transition: all 0.5s ease-in-out;
    animation: move-box 1s forwards;
}

@keyframes move-box {
    100% {margin-top: -190px;}
  }


.b-box:hover{
   background:#009786;
}

.b-box i{
    color:rgb(255 255 255 / 55%);
    font-size: 50px;
    transition: all 0.9s ease-in-out;
}

.b-box:hover > i{
    color:rgb(255 255 255 / 98%);
}


.b-box h3{
    color: var(--color-white);
    font-size:25px;
    margin-top:10px;
}
.banner-four-box{
    padding-top: 50px;
    gap:25px;
}



                       /* ############################  About Us ######################### */

.about-us{
    margin: 7rem 0 0;
}

.about-us .title{
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    position: relative;

}

.underline::after{
    content: "";
    display: block;
    left: 50%;
    bottom: 0;
    width: 55px;
    height: 3px;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    background: var(--color-primary);

}

.about-us .info{
    margin: 2rem 0 0;
    color:#6f6f6f;
}

  /* ############ about blog  ########### */

  .about-us-blog{
    margin:5rem 0;
    gap:55px;
  }

  .about-blog{
     width: calc(100% - 100% / 2);
  }

  .about-blog img{
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 18px;
    margin:20px 0;

  }

.about-blog h3{
    font-size: 26px;
}

.about-blog ul{
    margin:20px 0;
}
.about-blog ul li{
    margin:10px 0;
    text-transform: capitalize;
    display: flex;
}

.about-blog ul li i{
    color: var(--color-primary);
    margin-right: 10px;
    font-size: 21px;
}

.video-info{
    position: relative;
}

.play-video{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    background-color: var(--color-primary);
    padding: 10px 16px;
     border-radius: 38px;
     z-index: 1;
}

.play-video i{
     font-size: 35px;
}

.video-info::after{
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
     border-radius: 50px;
     padding: 39px 7px;
     background: radial-gradient(var(--color-primary) 50%, rgba(0, 131, 116, 0.4) 52%);
}


.video-info::before{
    content: "";
    width: 70px;
    height: 70px;
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -53%);
     border-radius: 50px;
     animation: video-play-vib 3s infinite;
     border: 3px solid var(--color-primary);

}

@keyframes video-play-vib{
    25%{
        width: 75px;
        height: 75px;
    }
    35%{
        width: 78px;
        height: 78px;
    }
    45%{
        width: 81px;
        height:81px;
    }
    55%{
        width: 85px;
        height: 85px;
    }
    65%{
        width: 88px;
        height: 88px;
    }
    75%{
        width: 90px;
        height: 90px;
    }
    85%{
        width: 94px;
        height: 94px;
    }
    92%{
        width: 96px;
        height: 96px;
    }

    100%{
        width: 100px;
        height: 100px;
    }
}



                       /* ############################  Client Logo ######################### */

 /* .client-logo{
    padding:10px 30px
}  */

.client-logo img{
    width:100%;
    max-height: 40px;
    margin: auto;
    /* object-fit: cover;
    object-position: center; */
    transition: all 0.2s ease-in-out;
}

.client-logo img:hover{
    transform:  scale(1.1);
}

.slick-slide {
    margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}



            /* ################### Happy  Client ################### */

.happy-client:first-child img{
     width: 100%;
     display: block;
     object-fit: cover;
     object-position: center;
}

.happy-client{
    width: calc(100% - 100%/2);
}


.happy-client > div{
    padding:20px 5px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.happy-client > div .count{
    font-size: 38px;
    font-weight: 900;
    color: var(--color-primary);
}

.happy-client span:first-child{
     padding-right: 20px;
}



              /* ################# CALL TO ACTION  #####################*/

    .call-action{
        display: block;
        background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(./img/cta-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 120px 60px;
        align-content: center; 
        border-radius: 16px;

    }

    .call-action .title{
        font-size: 32px;
        color: var(--color-white);
        text-transform: capitalize;
    }

    .call-action p{
        color: var(--color-white);
    }

    .call-action .desc{
        margin: 22px 0;
    }

    .btn-action{
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        margin-top: 12px;
        padding: 14px 48px;
        border: 2px solid var(--color-white);
        border-radius: 43px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
    }

    .btn-action:hover{
        border: 2px solid var(--color-primary);
        background: var(--color-primary);
    }

    .call-action .info{
         padding:100px 0;
        /* background-color: red; */
    }

    .call-to-action .video-info{
        display: block;
        margin-bottom:65px;
    }



                 /* ################ OUR SERVICES  #####################*/
.services-type{
    margin:60px 0;
    gap:25px;
}
.our-services{
    padding: 20px 0;
}

.about-service{
    width: calc(100% / 3 - 17px);
    padding:36px;
    background:var(--color-white);
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
}

.about-service p{
    font-size: 14px;
    color: var(--color-default);
}

.about-service .name{
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    margin: 24px 0;

}

.about-service .icon{
    font-size: 55px;
    position: relative;
    z-index: 1;
    display: block;
}

.about-service .icon::after{
    content: "";
    width: 20px;
    height: 20px;
    padding: 23px;
    background: #eeeeee;
    border-radius: 30px;
    display: block;
    top: 10px;
    left: 19px;
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease-in-out;
 }
 .about-service:hover .icon::after{
    background: #00b6a1;
 }

.about-service .name::after{
     content: "";
     position: absolute;
     bottom:0;
     left:0;
     width: 100%;
     height: 4px;
     /* background: var(--color-primary); */
     background: #eeeeee;
     transition: all 0.5s ease-in-out;
}

.about-service:hover .name::after{
    background:var(--color-primary);
}

.read-more{
    color: var(--color-primary);
    display: inline-block;
    margin-top: 16px;
}


                 /* ################ TESTIMONIAL  #####################*/
.testimonials{
    margin:60px 0 0;
    padding-bottom: 50px;
}

.testimonial-slider{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonal-info{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    box-shadow: 0 0 17px rgb(0 0 0 / 10%);
    gap: 10px;
    border-radius: 10px;
}

.user-icon img{
    width: 99px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}

.user-info{
    padding:0 30px;
}

.desination{
    padding:5px 0;
    color: #999;
}

.testimonial-desc{
    margin-top: 40px;
    font-style: italic;
}

.testimonial-desc .bi-quote{
 font-size: 32px;
 color: var(--color-primary)
}

.quote-reverse::before{
    transform: rotateZ(180deg);
}

ul.slick-dots{
    display: flex !important;
    justify-content: center;
    margin-top: 4rem;
}

ul.slick-dots li{
    display: inline-block;
    padding:6px;
    border-radius: 10px;
    background: #999;
    margin-right: 10px;
}

ul.slick-dots li.slick-active{
    background: var(--color-primary);
}

ul.slick-dots li button{
    display: none;
}



                 /* ################ Portfolio  #####################*/

.portfolio .container{
    /* padding:4rem 0; */
}

.portfolio-menu{
margin: 50px 0;

}

.portfolio-menu ul{
    display: flex;
    margin: 0 10px;
}

.portfolio-menu ul li a{
    padding: 10px ;
    color: var(--color-default);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    
}

.portfolio-menu ul li.active a,.portfolio-menu ul li:hover a{
    color: var(--color-primary);
}

.portfolio-menu-product{
    display: flex;
    flex-wrap: wrap;
    margin: -13px;

}

.port-product{
    width: calc(100% / 3 - 26px);
    margin:13px;
    /* height: 100%; */
    overflow: hidden;
    border-radius: 13px;

}

.zoom-img{
    overflow: hidden;
}

.port-product img{
    width: 100%;
    object-fit:contain;
    object-position: center;
    display: block;
    transition: all 0.5s ease-in-out;
}

.port-product img:hover{
    transform: scale(1.2);
}




.port-product-info{
    padding:20px;
    background: var(--color-white);
}

.port-product-info .title{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    transition:all 0.5s ease-in-out;
}

.port-product-info .title:hover{
 color: var(--color-primary);
}


.port-product-info p{
    font-size: 15px;
    color:#6c757d;
    transition:all 0.5s ease-in-out;
}

.port-product-info p:hover{
    color: var(--color-primary);
   }




                  /*################################### OUR TEAM  ##################################*/


    .team-list{
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-between;
    }    
    
  

    .members-info{  
        display: flex;
        flex-direction: column;
        padding:10px;
        justify-content: center;
        align-items: center;
    }

    .team-member{
        width: calc(100% / 4 - 25px);
        padding: 15px;
        border-radius: 12px;
        /* background: yellow; */
        box-shadow: 0 0 15px rgb(0 0 0 / 13%);
    }

    .team-member img{
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 10px;
    }

    .members-info .desination{
        display: block;
        font-size: 14px;
        color: #6c757d;
        font-style: italic;
    }

    .team-name{
        font-size: 20px;
        font-weight: 900;
    }
    .team-social-link{
        width: auto;
        display: flex;
        justify-content: space-between;
        gap:20px;
        margin: 15px 0;
    }

    .team-social-link a{
        border: 1px solid;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:2px solid #bbbbbb;
        color:#a2a2a2;
        transition: all 0.2s ease-in-out;
    }

    .team-social-link a i{
        font-size: 20px;
    }

    .team-social-link a:hover{
        color: var(--color-primary);
        border-color: var(--color-primary);
    }


                  /*################################### Price  ##################################*/

.price-list{
    display: flex;
    padding:7rem 0;
    gap: 26px;  
    justify-content: space-between;
    
}

.price-box{
    padding:60px 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color-white);
    align-items: center;
   box-shadow: 0 0 15px rgb(0 0 0 / 10%);
   border-radius: 10px;
}

.price-box .title{
    font-size: 19px;
    /* font-weight: bold; */
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0 0 0 / 70%);
}

.price-box .icon-box{
    background:var(--color-primary);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    position: relative;
    margin: 30px 0;
}
.price-box .icon-box i{
    font-size: 25px;
    color: var(--color-white);
    z-index: 1;
}

.icon-box:after{
    content: "";
    left: 50%;
    top: 50%;
    width: 78px;
    height: 78px;
    position: absolute;
    background: rgb(0, 131, 116,37%);
    border-radius: 44px;
    transform: translate(-50%,-50%);
}

.icon-box::before{
    content: "";
    left: 50%;
    top: 50%;
    width: 92px;
    height: 92px;
    position: absolute;
    background: rgb(127 212 202 / 37%);
    border-radius: 44px;
    transform: translate(-50%,-50%);
}


.price h4{
    font-size: 48px;
    color: var(--color-secondary);
    margin-bottom: 0;
    text-align: center;
}


.price h4 > span {
    color: rgba(108, 117, 125, 0.8);
    font-size: 18px;
    font-weight: 400;
}  



.price-box ul{
    padding: 20px 0;
    color: #6c757d;
    text-align: left;
    line-height: 20px;
}

.price-box ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.price-box ul li i {
    color: var(--color-primary);
    font-size: 28px;
    padding-right: 10px;
}

li.na{
    color: rgba(108, 117, 125, 0.5);
}

span.cross{
    text-decoration: line-through;
}

.business-plan{
    border:2px solid var(--color-primary);
    transform: scale(1.2);
}

.btn-buy{
    text-transform: capitalize;
    border: 1px solid #cfdcdb;
    padding: 13px 40px;
    border-radius: 30px;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: 600;
    margin: 30px 0px;
    transition: all 0.3s ease-in-out;
}

.btn-buy:hover{
    background: var(--color-primary);
    color:var(--color-white)
}


  /*################################### Contact Info  ##################################*/

  .contact-detail{
    margin-top: 4rem;
  }

  .about-contact{
    width:33.33%;
    background:var(--color-primary);
    padding: 22px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
    /* display: flex; */
  }

  .contact-form{
    width: calc(100% - 33.33%);
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 0 15px 15px 0;
  }

  .address-info{
    padding: 20px;
    background-color: #009282;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .address-info:last-child{
    margin-bottom: 0;
  }

  .address-info i{
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;

  }

  .address-info h4{
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
  }

  .address-info p{
    font-size: 14px;
    color:var(--color-white);
  }

  .address-info > div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 4px;
  }


  .form{
    padding:35px;
  }

  .row{
    width: 100%;
   display: flex;
   justify-content: space-between;
   gap:25px;
   margin-bottom: 30px;
  }
  
  
  .row .input{
    flex: 1;
    padding:15px;
    border:1px solid rgb(0 0 0 / 20%);
    outline: none;
  }

  .row .input:focus{
    border-color:var(--color-primary) 
  }

  .btn-send{
    padding: 15px 50px;
    border-radius: 31px;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-send:hover{
    background: #009282;
}
  

                       /* ############################  FOOTER ######################### */

.footer{
    background: var(--color-primary);
    margin-top: 4rem;
}

.footer .footer-detail{
    width:40%;
}

.footer .footer-menu{
    width: calc(100% - 40% - 20px);
    margin-left: 20px;
    display: flex;
    justify-content:start;
    gap:100px;
}

.footer .title{
    color: var(--color-white);
}

.footer .name{
    font-size: 33px;
    font-weight: 900;
}

.footer-detail p{
    padding:10px 0;
    color: var(--color-white);
}

.footer .social-link{
 padding:10px 0;
 display: flex;
 gap:10px;
}

.footer .social-link a{
    color: rgba(255, 255, 255, 0.7);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.footer .social-link a:hover{
    color:var(--color-white);
    border-color: var(--color-white);
}

.footer-menu .f-name{
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 10px;
    display: block;
    color: var(--color-white);
}

.f-menu-link{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.f-menu-link a{
    color:rgba(255, 255, 255, 0.7);
    transition: all 0.4s ease-in-out;
}

.f-menu-link a:hover{
    color:var(--color-white);
}

 .f-contact{
   color:rgba(255,255,255,0.89);
   line-height: 26px;
}

.copyright{
    margin-top: 50px;
    color: var(--color-white);
    font-size: 14px;
}


/* ================================== FOR RESPONSE ======================================= */










