@mixin grid-col($colNumber, $width) {
  display: grid;
  grid-template-columns: repeat($colNumber, $width);
}

@mixin grid-auto-col {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column; /* Set the auto-placement algorithm to column */
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align{
  display: flex;
  align-items: center;
}

@mixin shop-btn {
  border-radius: 6px;
  font-size: var(--font-size-b1);
  font-weight: var(--p-bold);
}

@mixin offer-info {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: var(--font-size-b4);
  color:var(--color-white);
  margin-right: 10px;

}
