@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: $fontPrimary;
    font-size: var(--font-size-b1);
    font-weight: var(--p-regular);
    line-height: var(--line-height-b1);
    -webkit-font-smoothing: antialiased;
    color: var(--color-body);
    text-transform: capitalize;
    // height: 200vh;
    // overflow: hidden;
    // overflow-y: auto;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
  list-style: none;
}
