@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --color-primary: #3577f0;
  --light-primary: #8c71db;
  --color-secondary: #ff497c;
  --color-tertiary: #fab8c4;
  --color-white: #ffffff;
  --color-dark: #27272e;
  --color-black: #000000;
  --color-light: #cbd3d9;
  --color-lighter: #f6f7fb;
  --color-lightest: #c4c4c4;
  --color-chart01: #896ba7;
  --color-chart02: #badeff;
  --color-chart03: #e76458;
  --color-heading: #292930;
  --color-body: #777777;
  --color-border-light: #e3e6e9;
  --color-border-dark: #42424a;
  --color-gray: #999fae;
  --color-midgray: #878787;
  --color-extra01: #999fae;
  --color-success: #3eb75e;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  --color-rating:#ffdc60;
  --radius: 6px;
  --radius-big: 16px;
  --radius-small: 6px;
  --border-width: 2px;
  --border-thin: 1px;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-bold: 700;
  --s-black: 900;
  --shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
  --shadow-seconday: 0 0 19px rgb(0 0 0 / 23%);
  --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  --shadow-dark: 0 16px 32px 0 rgba(0, 0, 0, 0.04);
  --transition: 0.3s;
  --transition-all: all 0.3s ease-in-out;
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
  --font-awesome: "Font Awesome 5 Pro";
  --font-size-b1: 16px;
  --font-size-b2: 15px;
  --font-size-b3: 14px;
  --font-size-b4: 12px;
  --line-height-b1: 31.7px;
  --line-height-b2: 1.65;
  --line-height-b3: 1.6;
  --h1: 46px;
  --h2: 36px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: var(--font-size-b1);
  font-weight: var(--p-regular);
  line-height: var(--line-height-b1);
  -webkit-font-smoothing: antialiased;
  color: var(--color-body);
  text-transform: capitalize;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/*
//https://css-tricks.com/conditional-media-query-mixins/

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1301px) and (max-width: 1399px) {

*/
.container {
  max-width: 1320px;
  margin: auto;
  padding: 0px 15px;
}

.t-down {
  transform: rotate(180deg);
}

a {
  cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-word;
  font-family: var(--font-secondary);
  line-height: 1.3;
  color: var(--color-heading);
}

.gap {
  margin-top: 40px;
}

.list-gap {
  padding-top: 2rem;
}

.pro-sec-gap {
  padding-bottom: 5rem;
}

.bottom-shadow {
  box-shadow: 0 2px 3px -3px var(--color-gray);
}

body.overlay::before {
  position: fixed;
  inset: 0;
  content: "";
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.head-highliter {
  display: flex;
  align-items: center;
  font-size: var(--font-size-b3);
  font-weight: var(--p-bold);
  margin-bottom: 10px;
}
.head-highliter .offer-icon {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: var(--font-size-b4);
  color: var(--color-white);
  margin-right: 10px;
}

.highliter-primary {
  color: var(--light-primary);
}

.highliter-seconday {
  color: var(--color-secondary);
}

.highliter-primary i {
  background: var(--light-primary);
}

.primary-title {
  color: var(--color-primary);
}

.primary-bg {
  background: var(--color-primary);
}

.head-title {
  color: var(--color-black);
  font-size: var(--h2);
  font-weight: var(--s-bold);
}
@media only screen and (max-width: 768px) {
  .head-title {
    font-size: var(--h4);
  }
}

.next,
.prev {
  width: 50px;
  height: 50px;
  background: var(--color-lighter);
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  line-height: 55px;
  margin-right: 5px;
}
.next i,
.prev i {
  color: var(--color-body);
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .next,
  .prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.product-img-container {
  position: relative;
}
.product-img-container > a {
  overflow: hidden;
  display: inline-block;
}
.product-img-container:hover .product-cart {
  opacity: 1;
  visibility: visible;
  transform: translateY(-30px);
}
.product-img-container:hover .zoom-in {
  transform: scale(1.1);
}
.product-img-container:hover .zoom-out {
  transform: scale(0.9);
}

.product-img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 10px;
  transform: scale(1);
  transition: var(--transition-all);
}

.img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-offer {
  position: absolute;
  top: 30px;
  right: -10px;
  color: var(--color-white);
  background: var(--color-primary);
  line-height: 1;
  padding: 6px 10px 5px;
  font-size: var(--font-size-b4);
  font-weight: var(--p-bold);
  border-radius: 5px;
}

.product-title {
  color: var(--color-black);
  font-size: var(--h5);
  font-weight: var(--p-medium);
}
@media only screen and (max-width: 768px) {
  .product-title {
    font-size: var(--h6);
  }
}

.product-price {
  font-size: var(--h6);
  color: var(--color-heading);
  font-weight: var(--p-semi-bold);
  text-align: center;
}

.cross {
  text-decoration: line-through;
  color: #d6d6d6;
  margin-left: 5px;
}

.product-cart {
  position: absolute;
  bottom: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateY(1);
  transition: var(--transition-all);
  opacity: 0;
  visibility: hidden;
}
.product-cart .like,
.product-cart .view {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  line-height: 42px;
  text-align: center;
  background: var(--color-white);
  box-shadow: var(--shadow-light);
  transform: scale(1);
}
.product-cart .like i,
.product-cart .view i {
  color: var(--color-black);
  font-size: 14px;
  transform: rotate(0);
  transition: var(--transition-all);
}
.product-cart .like:hover,
.product-cart .view:hover {
  transform: scale(1.1);
}
.product-cart .like:hover i,
.product-cart .view:hover i {
  transform: rotate(-360deg);
}
.product-cart .add-to-cart {
  display: inline-block;
  background: var(--color-secondary);
  padding: 4px 18px;
  border-radius: 4px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  transform: scale(1);
  transition: var(--transition);
}
.product-cart .add-to-cart:hover {
  transform: scale(1.1);
}

.product-about {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.rating {
  font-size: 14px;
  display: flex;
  gap: 7px;
  align-items: center;
}
.rating i {
  color: var(--color-rating);
  font-size: var(--font-size-b3);
}

.primary-bg {
  background: var(--color-primary);
}

.seconday-bg {
  background: var(--color-secondary) !important;
}

.mt-2 {
  margin-top: 2rem;
}

.color ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 20px));
  gap: 10px;
}
.color ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.color ul li.active {
  border: 2px solid var(--color-black);
}
.color ul li input[type=radio].org:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.color ul li input[type=radio].red:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ff497c;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.color ul li input[type=radio].pur:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #8d6abe;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.pb-rm-2 {
  padding-bottom: 2rem;
}

.about-header-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: space-between;
  align-items: center;
}

.ml {
  margin-left: auto;
}

.top-menu {
  background: var(--color-heading);
  padding: 4px 0;
}
.top-menu .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
@media only screen and (max-width: 480px) {
  .top-menu .row {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
  }
}
.top-menu .row .setting > ul {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.top-menu .row .setting > ul > li {
  display: inline-block;
  position: relative;
}
.top-menu .row .setting > ul > li a {
  color: #c2c2cc;
  padding: 0 15px;
  transition: var(--transition);
  text-transform: capitalize;
}
.top-menu .row .setting > ul > li a:hover {
  color: var(--color-white);
}
.top-menu .row .setting > ul > li .drop-down {
  display: none;
  position: absolute;
  left: 0;
  padding: 10px 20px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-primary);
  border-radius: 5px;
  background: var(--color-white);
}
.top-menu .row .setting > ul > li .drop-down a {
  color: var(--color-dark);
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 7px;
}
.top-menu .row .setting > ul > li .drop-down a:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}
.top-menu .row .setting > ul > li.active .drop-down {
  display: block;
}
.top-menu .row .setting > ul > li:last-child a {
  text-transform: uppercase;
}
.top-menu .row .login {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: end;
  -moz-column-gap: 2.2rem;
       column-gap: 2.2rem;
}
.top-menu .row .login a {
  color: #c2c2cc;
  text-align: center;
  transition: var(--transition);
  text-transform: capitalize;
}
.top-menu .row .login a:hover {
  color: var(--color-primary);
}

nav .row {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  nav .row {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
@media only screen and (max-width: 990px) {
  nav .row {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 4.5rem;
    justify-content: space-between;
  }
}
nav .row .logo img {
  display: inline-block;
  width: auto;
}
nav .row .menu-list .nav-logo {
  display: none;
}
@media only screen and (max-width: 990px) {
  nav .row .menu-list .nav-logo {
    display: block;
    margin-top: 1rem;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: start;
  }
  nav .row .menu-list .nav-logo a {
    justify-self: center;
    color: var(--color-heading);
  }
  nav .row .menu-list .nav-logo a i {
    padding: 10px;
    background: var(--color-lighter);
    border-radius: 50%;
  }
}
nav .row .menu-list > ul {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column; /* Set the auto-placement algorithm to column */
}
@media only screen and (max-width: 990px) {
  nav .row .menu-list > ul {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    align-items: center;
    padding-left: 30px;
    margin-top: 3rem;
    padding-top: 10px;
    max-height: 100%;
    overflow-y: auto;
    transform: translateY(0px);
  }
}
nav .row .menu-list > ul > li {
  justify-self: center;
}
@media only screen and (max-width: 990px) {
  nav .row .menu-list > ul > li {
    width: 100%;
    margin: 10px 0;
    transform: translateY(10px);
  }
}
nav .row .menu-list > ul > li > a {
  display: block;
  line-height: 6rem;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-heading);
  position: relative;
}
@media only screen and (max-width: 990px) {
  nav .row .menu-list > ul > li > a {
    line-height: unset;
    color: var(--color-body);
  }
}
nav .row .menu-list > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: 36px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-heading);
  transition: var(--transition);
}
@media only screen and (max-width: 1320px) {
  nav .row .menu-list > ul > li > a::before {
    content: unset;
  }
}
nav .row .menu-list > ul > li > a:hover::before {
  width: 100%;
}
nav .row .menu-list > ul > li > a.active::before {
  width: 100%;
}
nav .row .menu-list > ul > li.has-submenu {
  position: relative;
}
nav .row .menu-list > ul > li.has-submenu > a::after {
  content: "⌄";
  color: #c6c6c6;
  font-size: 20px;
  position: absolute;
  top: -2px;
}
nav .row .menu-list > ul > li.has-submenu:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
nav .row .menu-list > ul > li.open .sub-menu {
  display: block;
}
nav .row .menu-list > ul > li .sub-menu {
  position: absolute;
  top: 73px;
  left: 0;
  min-width: 250px;
  padding: 5px 16px;
  box-shadow: var(--shadow-primary);
  background: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-all);
}
@media only screen and (max-width: 990px) {
  nav .row .menu-list > ul > li .sub-menu {
    visibility: unset;
    opacity: 1;
    position: static;
    padding-left: 20px;
    box-shadow: none;
    display: none;
    opacity: 1;
  }
}
nav .row .menu-list > ul > li .sub-menu a {
  display: block;
  color: var(--color-heading);
  font-weight: var(--p-medium);
  opacity: 0.9;
  transition: var(--transition);
}
nav .row .menu-list > ul > li .sub-menu a:hover {
  color: var(--color-secondary);
}
@media only screen and (max-width: 990px) {
  nav .row .menu-list {
    display: block;
    background: var(--color-white);
    max-width: 310px;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: -310px;
    position: fixed;
    transition: var(--transition-all);
  }
  nav .row .menu-list.response-nav {
    display: block;
    right: 0;
  }
}
nav .row .cart-action ul {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  justify-content: end;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media only screen and (max-width: 395px) {
  nav .row .cart-action ul {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
nav .row .cart-action ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
nav .row .cart-action ul li a i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
nav .row .cart-action ul li a::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: var(--color-secondary);
  border-radius: 50%;
  transform: scale(0);
  z-index: -1;
  transition: var(--transition-all);
}
nav .row .cart-action ul li a:hover::after {
  transform: scale(1);
}
nav .row .cart-action ul li a:hover i {
  color: var(--color-white);
}
nav .row .cart-action ul li .qty {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  top: -17px;
  left: 12px;
  line-height: 8px;
  font-size: var(--font-size-b4);
}
nav .row .cart-action ul li.search-list {
  padding: 4px 15px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}
nav .row .cart-action ul li.search-list i {
  font-size: 16px;
  margin-right: 2px;
}
nav .row .cart-action ul li.search-list input {
  border: 0;
  outline: none;
}
@media only screen and (max-width: 1200px) {
  nav .row .cart-action ul li.search-list {
    display: none;
  }
}
nav .row .cart-action ul li.search {
  display: none;
}
@media only screen and (max-width: 1200px) {
  nav .row .cart-action ul li.search {
    display: block;
  }
}
nav .row .cart-action ul li:last-child {
  display: none;
}
@media only screen and (max-width: 990px) {
  nav .row .cart-action ul li:last-child {
    display: block;
  }
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 45%;
}

.offer {
  background: url(/assets/image/campaign-bg3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer .row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40%;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .offer .row {
    grid-template-columns: 50%;
  }
}
@media only screen and (max-width: 990px) {
  .offer .row {
    grid-template-columns: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .offer .row {
    grid-template-columns: 100%;
  }
}
.offer .row .offer-list {
  position: relative;
}
.offer .row .offer-list .offer-next {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: var(--font-size-b3);
}
.offer .row .offer-list .offer-prev {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: var(--font-size-b3);
}
.offer .row .offer-list i {
  color: var(--color-white);
}
.offer .row .offer-list .carousel {
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 0;
  font-size: var(--font-size-b1);
}
.offer .row .offer-list .carousel a {
  color: var(--color-white);
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {
  .offer .row .offer-list .carousel {
    font-size: var(--font-size-b4);
  }
}

.store .row .store-slider .store-item {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-content: center;
  padding: 17px 10px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  box-shadow: var(--shadow-dark);
  margin-right: 30px;
}
.store .row .store-slider .store-item img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 24px;
  margin-right: 10px;
}
.store .row .store-slider .store-item .title {
  font-size: var(--font-size-b1);
  color: var(--color-black);
  white-space: nowrap;
  overflow: hidden;
}

.home-slider .home-slider-container {
  position: relative;
  background: #f7f7f7;
  border-radius: 6px;
  padding: 90px 100px;
}
@media only screen and (max-width: 990px) {
  .home-slider .home-slider-container {
    padding: 30px;
  }
}
.home-slider .home-slider-container .h-slider {
  z-index: 1;
}
.home-slider .home-slider-container .slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5rem;
}
@media only screen and (max-width: 768px) {
  .home-slider .home-slider-container .slider {
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 668px) {
  .home-slider .home-slider-container .slider {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
}
.home-slider .home-slider-container .slider .info {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.home-slider .home-slider-container .slider .info div {
  padding-left: 10px;
}
.home-slider .home-slider-container .slider .info .subtitle {
  display: inline-block;
  margin-bottom: 1rem;
}
.home-slider .home-slider-container .slider .info .subtitle i {
  color: var(--color-white);
  background: var(--color-secondary);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  line-height: 22px;
}
.home-slider .home-slider-container .slider .info .subtitle span {
  color: var(--color-secondary);
  font-weight: var(--s-bold);
}
.home-slider .home-slider-container .slider .info .title {
  font-size: 60px;
  width: 80%;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1200px) {
  .home-slider .home-slider-container .slider .info .title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .home-slider .home-slider-container .slider .info .title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 990px) {
  .home-slider .home-slider-container .slider .info .title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .home-slider .home-slider-container .slider .info .title {
    font-size: 30px;
  }
}
.home-slider .home-slider-container .slider .info .show-now {
  display: inline-block;
  margin-top: 20px;
  box-shadow: var(--shadow-dark);
  color: var(--color-heading);
  background: var(--color-white);
  padding: 13px 30px;
  border-radius: 6px;
  font-size: var(--font-size-b1);
  font-weight: var(--p-bold);
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .home-slider .home-slider-container .slider .info .show-now {
    padding: 6px 19px;
    font-size: var(--font-size-b3);
  }
}
.home-slider .home-slider-container .slider .info .show-now:hover {
  transform: scale(1.1);
}
.home-slider .home-slider-container .slider .img {
  margin-left: 20px;
}
.home-slider .home-slider-container .slider .img img {
  display: inline-block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 668px) {
  .home-slider .home-slider-container .slider .img img {
    min-height: 168px;
    max-height: 168px;
  }
}
.home-slider .home-slider-container::after {
  content: "";
  position: absolute;
  width: 16rem;
  height: 16rem;
  background-color: var(--color-white);
  border-radius: 50%;
  top: 12%;
  left: 17%;
}
@media only screen and (max-width: 990px) {
  .home-slider .home-slider-container::after {
    width: 10rem;
    height: 10rem;
    top: 5%;
    left: 9%;
  }
}
@media only screen and (max-width: 768px) {
  .home-slider .home-slider-container::after {
    content: none;
  }
}
.home-slider .home-slider-container .slick-dots li {
  display: inline;
  margin: 0 4px;
}
.home-slider .home-slider-container .slick-dots li a {
  display: inline-block;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background: #e6e6e6;
  transition: all 0.5s ease-in-out;
}
.home-slider .home-slider-container .slick-dots li.slick-active a {
  background: var(--color-dark);
  width: 40px;
}

.move-on a {
  background: var(--color-primary);
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.move-on i {
  color: var(--color-white);
  font-size: 12px;
}

.flash-deal .deal-header {
  margin-bottom: 5rem;
}
.flash-deal .deal-header .offer-icon {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: var(--font-size-b4);
  color: var(--color-white);
  margin-right: 10px;
  background: var(--light-primary);
}
.flash-deal .deal-header .about-deal {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .flash-deal .deal-header .about-deal {
    grid-template-columns: auto max-content;
    align-items: start;
  }
}
.flash-deal .deal-header .about-deal > div:first-child {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .flash-deal .deal-header .about-deal > div:first-child {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}
.flash-deal .deal-header .about-deal > div:last-child {
  text-align: right;
}
.flash-deal .deal-header .about-deal .timer {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .flash-deal .deal-header .about-deal .timer {
    gap: 5px;
  }
}
.flash-deal .deal-header .about-deal .timer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-lighter);
  color: var(--color-black);
}
@media only screen and (max-width: 768px) {
  .flash-deal .deal-header .about-deal .timer a {
    width: 40px;
    height: 40px;
    font-size: var(--font-size-b4);
    font-weight: var(--s-medium);
  }
}
.flash-deal .slick-slide {
  padding: 0 15px;
}

.best-seller .best-seller-header {
  margin-bottom: 3rem;
}
.best-seller .seller-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 1200px) {
  .best-seller .seller-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 990px) {
  .best-seller .seller-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .best-seller .seller-list {
    grid-template-columns: 1fr;
  }
}
.best-seller .seller-list .seller-product {
  padding: 0 30px;
  border-radius: 10px;
  position: relative;
}
.best-seller .seller-list .seller-product .product-about {
  justify-content: left;
}
.best-seller .seller-list .seller-product .product-about .product-price {
  text-align: left;
}
.best-seller .seller-list .seller-product .top-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -26px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  background: var(--color-lighter);
  transition: var(--transition-all);
}
.best-seller .seller-list .seller-product .top-cart i {
  color: var(--color-body);
  transition: var(--transition);
}
.best-seller .seller-list .seller-product .top-cart:hover {
  background-color: var(--color-primary);
}
.best-seller .seller-list .seller-product .top-cart:hover i {
  color: var(--color-white);
}
.best-seller .seller-list .seller-product::before {
  content: "";
  width: 100%;
  height: 60%;
  inset: 0;
  position: absolute;
  background: #f7f7f7;
  border-radius: 10px;
  z-index: -1;
}

.about-us .about-container {
  display: grid;
  grid-template-columns: 60% 40%;
}
@media only screen and (max-width: 990px) {
  .about-us .about-container {
    grid-template-columns: 100%;
  }
}
.about-us .about-container > div:first-child {
  padding: 3rem 1rem 0 10px;
}
@media only screen and (max-width: 1400px) {
  .about-us .about-container > div:first-child {
    padding: 0 3rem 3rem 10px;
  }
}
@media only screen and (max-width: 570px) {
  .about-us .about-container > div:first-child {
    padding: 0 10px 3rem 10px;
  }
}
.about-us .about-container > div:first-child .about-us-info {
  margin-top: 3rem;
}
.about-us .about-container > div:first-child .about-us-info .about-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}
@media only screen and (max-width: 768px) {
  .about-us .about-container > div:first-child .about-us-info .about-detail {
    grid-gap: 2rem;
  }
}
@media only screen and (max-width: 570px) {
  .about-us .about-container > div:first-child .about-us-info .about-detail {
    grid-template-columns: 1fr;
  }
}
.about-us .about-container > div:first-child .about-us-info .about-detail .detail {
  display: grid;
  grid-template-columns: 1fr;
}
.about-us .about-container > div:first-child .about-us-info .about-detail .detail .number {
  font-size: 40px;
  font-weight: var(--s-bold);
  color: var(--color-lightest);
  margin-bottom: 10px;
}
.about-us .about-container > div:first-child .about-us-info .about-detail .detail .title {
  padding: 10px 0;
  font-size: 25px;
  font-weight: var(--s-bold);
  color: var(--color-black);
}
@media only screen and (max-width: 990px) {
  .about-us .about-container > div:first-child .about-us-info .about-detail .detail .title {
    font-size: 22px;
  }
}
.about-us .about-container > div:first-child .about-us-info .about-detail .detail p {
  font-size: 16px;
  font-weight: var(--p-regular);
  line-height: 1.7;
  color: var(--color-body);
}
.about-us .about-container .about-gallery {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.about-us .about-container .about-gallery > div {
  padding: 0 10px;
}
.about-us .about-container .about-gallery > div.first {
  margin-top: 2rem;
}
@media only screen and (max-width: 570px) {
  .about-us .about-container .about-gallery > div.first {
    margin-top: 0;
  }
}
.about-us .about-container .about-gallery > div img {
  width: 100%;
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  margin-bottom: 5px;
}

.bs-today {
  padding-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .bs-today .about-deal {
    grid-template-columns: repeat(2, 50%) !important;
  }
}
.bs-today .product-about {
  justify-content: left;
}
.bs-today .product-about .product-price {
  text-align: left;
}

.not-miss {
  padding-top: 7rem;
}
.not-miss .miss-info {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: var(--color-lighter);
  border-radius: 10px;
  padding: 65px;
}
@media only screen and (max-width: 1100px) {
  .not-miss .miss-info {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 990px) {
  .not-miss .miss-info {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
.not-miss .miss-info .content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
@media only screen and (max-width: 1200px) {
  .not-miss .miss-info .content {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 990px) {
  .not-miss .miss-info .content {
    align-items: center;
    padding: 0;
  }
  .not-miss .miss-info .content .highliter-seconday {
    justify-content: center;
  }
}
.not-miss .miss-info .content .title {
  display: inline-block;
  font-size: 46px;
  color: var(--color-black);
  font-weight: 900;
}
@media only screen and (max-width: 1200px) {
  .not-miss .miss-info .content .title {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .not-miss .miss-info .content .title {
    font-size: 28px;
  }
}
.not-miss .miss-info .content .time-left {
  display: flex;
  gap: 10px;
}
.not-miss .miss-info .content .time-left .clock-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--color-white);
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .not-miss .miss-info .content .time-left .clock-time {
    width: 60px;
    height: 60px;
  }
}
.not-miss .miss-info .content .time-left .clock-time .tm {
  font-size: 23px;
  font-weight: 500;
  color: var(--color-black);
}
@media only screen and (max-width: 480px) {
  .not-miss .miss-info .content .time-left .clock-time .tm {
    font-size: 18px;
  }
}
.not-miss .miss-info .content .add-to-cart {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 20px 35px;
  font-size: 16px;
  font-weight: 700;
  word-spacing: 2px;
  border-radius: 5px;
  border: 0;
}
.not-miss .miss-info .banner {
  position: relative;
}
.not-miss .miss-info .banner .img {
  position: absolute;
  top: -170px;
}
@media only screen and (max-width: 1200px) {
  .not-miss .miss-info .banner .img {
    position: static;
    top: 0;
    padding: 0 15px;
  }
}

.people .head-highliter {
  justify-content: center;
}
.people .head-title {
  text-align: center;
}
.people .feature-list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 1200px) {
  .people .feature-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 990px) {
  .people .feature-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .people .feature-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .people .feature-list {
    grid-template-columns: 1fr;
  }
}
.people .feature-list .feature > div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  border: 1px solid #f1f1f1;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  padding: 39px;
  grid-row-gap: 18px;
  box-shadow: none;
  transition: all 0.1s ease-in-out;
}
.people .feature-list .feature > div:hover {
  box-shadow: var(--shadow-light);
}
.people .feature-list .feature > div .title {
  color: var(--color-black);
  font-size: var(--font-size-b1);
  font-weight: var(--p-extra-bold);
  text-align: center;
}
.people .feature-list .feature > div img {
  display: inline-block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.testimonial {
  background: #f9f3f0;
}
.testimonial .row {
  padding: 5rem 0;
}
.testimonial .row .testimonial-list .about-testimonial {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2.6rem;
  margin-top: 3rem;
  padding: 20px;
}
.testimonial .row .testimonial-list .about-testimonial .content {
  background: var(--color-white);
  color: var(--color-body);
  text-transform: none;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}
.testimonial .row .testimonial-list .about-testimonial .content:after {
  content: "";
  width: 0;
  height: 0;
  left: 7%;
  bottom: -29px;
  border-top: 54px solid var(--color-white);
  border-right: 123px solid transparent;
  position: absolute;
}
.testimonial .row .testimonial-list .about-testimonial .auther {
  display: grid;
  grid-template-columns: max-content auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.testimonial .row .testimonial-list .about-testimonial .auther > div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.testimonial .row .testimonial-list .about-testimonial .auther > div .name {
  font-size: 18px;
  color: var(--color-black);
  font-weight: 500;
}
.testimonial .row .testimonial-list .slick-current + .slick-slide {
  margin-top: 2.2rem;
}

.news-letter .container {
  background: url(/assets/image/bg-image-6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}
.news-letter .container .about-news-letter {
  padding: 72px;
}
@media only screen and (max-width: 480px) {
  .news-letter .container .about-news-letter {
    padding: 10px;
  }
}
.news-letter .container .about-news-letter .subscribe-form > div {
  display: flex;
  gap: 10px;
  padding: 3rem 0;
}
@media only screen and (max-width: 768px) {
  .news-letter .container .about-news-letter .subscribe-form > div {
    flex-direction: column;
  }
}
.news-letter .container .about-news-letter .subscribe-form > div .email {
  display: inline-block;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  background: var(--color-white);
  width: 430px;
}
@media only screen and (max-width: 768px) {
  .news-letter .container .about-news-letter .subscribe-form > div .email {
    width: 100%;
    justify-content: center;
  }
}
.news-letter .container .about-news-letter .subscribe-form > div .email::before {
  position: absolute;
  content: "";
  background: url(/assets/image/send-mail.png);
  background-repeat: no-repeat;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}
.news-letter .container .about-news-letter .subscribe-form > div .email input {
  border-radius: 8px;
  border: 0;
  outline: none;
  font-size: var(--font-size-b1);
  padding: 20px 20px 20px 40px;
  width: 100%;
}
.news-letter .container .about-news-letter .subscribe-form > div .btn-subscribe {
  padding: 18px 38px;
  background: var(--color-heading);
  color: var(--color-white);
  font-size: 17px;
  border-radius: 10px;
  font-weight: 600;
  transform: scale(1);
  transition: 0.3s;
}
.news-letter .container .about-news-letter .subscribe-form > div .btn-subscribe:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
  .news-letter .container .about-news-letter .subscribe-form > div .btn-subscribe {
    width: 100%;
  }
}
@media only screen and (max-width: 395px) {
  .news-letter .container .about-news-letter .subscribe-form > div .btn-subscribe {
    padding: 12px 25px;
  }
}

.service {
  padding-bottom: 1rem;
}
.service .service-list {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  padding-bottom: 2rem;
  box-shadow: 0 7px 0px -6px var(--color-border-light);
}
@media only screen and (max-width: 1200px) {
  .service .service-list {
    grid-auto-flow: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .service .service-list {
    grid-template-columns: auto;
  }
}
.service .service-list .service-info {
  display: grid;
  grid-template-columns: 50px calc(100% - 50px - 18px);
  align-items: center;
  justify-content: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.service .service-list .service-info img {
  width: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  order: 1;
}
.service .service-list .service-info .service-detail {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  order: 2;
}
.service .service-list .service-info .service-detail .title {
  color: var(--color-heading);
  font-size: 16px;
  font-weight: 800;
}

footer {
  text-transform: none;
}
footer .footer-link .footer-list {
  box-shadow: 0 7px 0px -6px var(--color-border-light);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 7px;
}
@media only screen and (max-width: 1024px) {
  footer .footer-link .footer-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  footer .footer-link .footer-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 570px) {
  footer .footer-link .footer-list {
    grid-template-columns: 1fr;
  }
}
footer .footer-link .footer-list .footer {
  padding: 20px;
}
footer .footer-link .footer-list .footer .title {
  display: inline-block;
  font-size: 18px;
  color: var(--color-heading);
  font-weight: 800;
  margin-bottom: 1rem;
}
footer .footer-link .footer-list .footer address {
  padding-bottom: 25px;
}
footer .footer-link .footer-list .footer ul.link a {
  color: var(--color-body);
  font-weight: 500;
  font-size: 17px;
  transition: var(--transition-all);
  position: relative;
}
footer .footer-link .footer-list .footer ul li {
  padding: 3px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-link .footer-list .footer ul li a {
  color: inherit;
}
footer .footer-link .footer-list .footer .go-to-mobile {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
footer .footer-link .footer-list .footer .go-to-mobile img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-link .footer-list .footer .go-to-mobile .mobile-app-link {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
footer .copyright {
  padding: 1rem 0;
}
footer .copyright .copy-right-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  footer .copyright .copy-right-list {
    grid-template-columns: 1fr;
  }
}
footer .copyright .copy-right-list ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer .copyright .copy-right-list ul i {
  color: var(--color-body);
}
footer .copyright .copy-right-list .rights {
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  footer .copyright .copy-right-list .rights {
    font-size: 14px;
  }
}
footer .copyright .copy-right-list .download {
  margin-left: auto;
}
@media only screen and (max-width: 1024px) {
  footer .copyright .copy-right-list .download {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */