@use "sass:map";
@import "var";
@import "reset";
@import "mixin";

/*
//https://css-tricks.com/conditional-media-query-mixins/

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1301px) and (max-width: 1399px) {

*/

.container {
    max-width: 1320px;
    margin: auto;
    padding: 0px 15px;
}

.t-down {
    transform: rotate(180deg);
}
a {
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    word-break: break-word;
    font-family: var(--font-secondary);
    line-height: 1.3;
    color: var(--color-heading);
}

.gap {
    margin-top: $common-gap;
}

.list-gap {
    padding-top: 2rem;
}

.pro-sec-gap {
    padding-bottom: 5rem;
}
.bottom-shadow {
    box-shadow: 0 2px 3px -3px var(--color-gray);
}
//=========== over lay ============

body.overlay {
    &::before {
        position: fixed;
        inset: 0;
        content: "";
        background: rgb(0 0 0 /60%);
        z-index: 1;
    }
}

//================ Common class

.head-highliter {
    @include flex-align;
    font-size: var(--font-size-b3);
    font-weight: var(--p-bold);
    margin-bottom: 10px;
    .offer-icon {
        @include offer-info;
        // background: var(--color-secondary);
    }
}

.highliter-primary {
    color: var(--light-primary);
}

.highliter-seconday {
    color: var(--color-secondary);
}

.highliter-primary i {
    background: var(--light-primary);
}

.primary-title {
    color: var(--color-primary);
}

.primary-bg {
    background: var(--color-primary);
}

.head-title {
    color: var(--color-black);
    font-size: var(--h2);
    font-weight: var(--s-bold);
    @media only screen and (max-width: $tablet) {
        font-size: var(--h4);
    }
}

.next,
.prev {
    width: 50px;
    height: 50px;
    background: var(--color-lighter);
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    line-height: 55px;
    margin-right: 5px;
    i {
        color: var(--color-body);
        font-size: 15px;
    }

    @media only screen and (max-width: $tablet) {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.product-img-container {
    position: relative;
    > a {
        overflow: hidden;
        display: inline-block;
    }

    &:hover {
        .product-cart {
            opacity: 1;
            visibility: visible;
            transform: translateY(-30px);
        }

        .zoom-in {
            transform: scale(1.1);
        }

        .zoom-out {
            transform: scale(0.9);
        }
    }
}

.product-img {
    display: block;
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
    transform: scale(1);
    transition: var(--transition-all);
}

.img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.product-offer {
    position: absolute;
    top: 30px;
    right: -10px;
    color: var(--color-white);
    background: var(--color-primary);
    line-height: 1;
    padding: 6px 10px 5px;
    font-size: var(--font-size-b4);
    font-weight: var(--p-bold);
    border-radius: 5px;
}
.product-title {
    color: var(--color-black);
    font-size: var(--h5);
    font-weight: var(--p-medium);

    @media only screen and (max-width: $tablet) {
        font-size: var(--h6);
    }
}

.product-price {
    font-size: var(--h6);
    color: var(--color-heading);
    font-weight: var(--p-semi-bold);
    text-align: center;
}

.cross {
    text-decoration: line-through;
    color: #d6d6d6;
    margin-left: 5px;
}

.product-cart {
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: translateY(1);
    transition: var(--transition-all);
    opacity: 0;
    visibility: hidden;

    .like,
    .view {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        line-height: 42px;
        text-align: center;
        background: var(--color-white);
        box-shadow: var(--shadow-light);
        transform: scale(1);
        i {
            color: var(--color-black);
            font-size: 14px;
            transform: rotate(0);
            transition: var(--transition-all);
        }

        &:hover {
            transform: scale(1.1);
            i {
                transform: rotate(-360deg);
            }
        }
    }

    .add-to-cart {
        display: inline-block;
        background: var(--color-secondary);
        padding: 4px 18px;
        border-radius: 4px;
        color: var(--color-white);
        font-size: 14px;
        font-weight: 700;
        transform: scale(1);
        transition: var(--transition);

        &:hover {
            transform: scale(1.1);
        }
    }
}

.product-about {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.rating {
    font-size: 14px;
    display: flex;
    gap: 7px;
    align-items: center;
    i {
        color: var(--color-rating);
        font-size: var(--font-size-b3);
    }
}

.primary-bg {
    background: var(--color-primary);
}
.seconday-bg {
    background: var(--color-secondary) !important;
}

.mt-2 {
    margin-top: 2rem;
}

.color {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10px, 20px)); // most vvi  set dynamic column with size
        gap: 10px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            &.active {
                // padding:10px;
                border: 2px solid var(--color-black);
            }
            input[type="radio"].org:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #ffa500;
                content: "";
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }

            input[type="radio"].red:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #ff497c;
                content: "";
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }
            input[type="radio"].pur:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: #8d6abe;
                content: "";
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }
        }
    }
}
.pb-rm-2 {
    padding-bottom: 2rem;
}

.about-header-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    align-items: center;
}

.ml {
    margin-left: auto;
}

//=====================CMD===============

//============ top menu ====================
.top-menu {
    background: var(--color-heading);
    padding: 4px 0;

    .row {
        @include grid-col(2, 1fr);
        grid-template-rows: auto;

        @media only screen and (max-width: $mobile-m) {
            grid-template-columns: auto;
            grid-template-rows: repeat(2, auto);
            justify-content: center;
        }

        .setting {
            > ul {
                @include grid-col(2, max-content);

                column-gap: 10px;

                > li {
                    display: inline-block;
                    position: relative;

                    a {
                        color: $colorHeaderTopMenu;
                        padding: 0 15px;
                        transition: var(--transition);
                        text-transform: map.get($word-type, cp);

                        &:hover {
                            color: var(--color-white);
                        }
                    }

                    .drop-down {
                        display: none;
                        position: absolute;
                        left: 0;
                        padding: 10px 20px;
                        border: 1px solid transparent;
                        box-shadow: var(--shadow-primary);
                        border-radius: 5px;
                        background: var(--color-white);

                        a {
                            color: var(--color-dark);
                            font-size: 14px;
                            padding: 5px 15px;
                            border-radius: 7px;

                            &:hover {
                                background: var(--color-secondary);
                                color: var(--color-white);
                            }
                        }
                    }

                    &.active {
                        .drop-down {
                            display: block;
                        }
                    }

                    &:last-child {
                        a {
                            text-transform: map-get($word-type, up);
                        }
                    }
                }
            }
        }

        .login {
            @include grid-col(3, max-content);
            justify-content: end;
            column-gap: 2.2rem; // replaced by grid-column-gap

            a {
                color: $colorHeaderTopMenu;
                text-align: center;
                transition: var(--transition);
                text-transform: map.get($word-type, cp);

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}

//============= Nav =============================

nav {
    .row {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        @media only screen and (max-width: $laptop-m) {
            grid-template-columns: 1fr 2fr 1fr;
        }

        @media only screen and (max-width: $tablet-l) {
            grid-template-columns: repeat(2, max-content);
            grid-template-rows: 4.5rem;
            justify-content: space-between;
        }

        align-items: center;

        .logo {
            img {
                display: inline-block;
                width: auto;
            }
        }

        .menu-list {
            .nav-logo {
                display: none;
                @media only screen and (max-width: $tablet-l) {
                    display: block;
                    margin-top: 1rem;
                    padding-left: 30px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;
                    justify-content: start;
                    a {
                        justify-self: center;
                        color: var(--color-heading);
                        i {
                            padding: 10px;
                            background: var(--color-lighter);
                            border-radius: 50%;
                        }
                    }
                }
            }

            > ul {
                @include grid-auto-col;

                @media only screen and (max-width: $tablet-l) {
                    grid-template-columns: 1fr;
                    grid-auto-flow: row; //create new row
                    // grid-auto-rows: 48px; //give each and every row spacific space
                    align-items: center;
                    padding-left: 30px;
                    margin-top: 3rem;
                    padding-top: 10px;
                    max-height: 100%;
                    overflow-y: auto;
                    transform: translateY(0px);
                }

                > li {
                    justify-self: center;
                    @media only screen and (max-width: $tablet-l) {
                        width: 100%;
                        margin: 10px 0;
                        transform: translateY(10px);
                    }

                    > a {
                        display: block;
                        line-height: 6rem;
                        @media only screen and (max-width: $tablet-l) {
                            line-height: unset;
                            color: var(--color-body);
                        }
                        font-size: 15px;
                        font-weight: 700;
                        color: var(--color-heading);
                        position: relative;

                        &::before {
                            content: "";
                            @media only screen and (max-width: $laptop-l) {
                                content: unset;
                            }
                            position: absolute;
                            bottom: 36px;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background: var(--color-heading);
                            transition: var(--transition);
                        }

                        &:hover {
                            &::before {
                                width: 100%;
                            }
                        }

                        &.active {
                            &::before {
                                width: 100%;
                            }
                        }
                    }

                    //====================================== Submenu Start ==========================
                    &.has-submenu {
                        position: relative;

                        > a {
                            &::after {
                                content: "\2304";
                                color: #c6c6c6;
                                font-size: 20px;
                                position: absolute;
                                top: -2px;

                                // right: -18px;
                            }
                        }

                        &:hover {
                            > .sub-menu {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    &.open {
                        .sub-menu {
                            display: block;
                        }
                    }
                    .sub-menu {
                        position: absolute;
                        top: 73px;
                        left: 0;
                        min-width: 250px;
                        padding: 5px 16px;
                        box-shadow: var(--shadow-primary);
                        background: var(--color-white);
                        opacity: 0;
                        visibility: hidden;
                        transition: var(--transition-all);
                        @media only screen and (max-width: $tablet-l) {
                            visibility: unset;
                            opacity: 1;
                            position: static; //show sub menu of main menu
                            padding-left: 20px;
                            box-shadow: none;
                            display: none;
                            opacity: 1;
                        }

                        a {
                            display: block;
                            color: var(--color-heading);
                            font-weight: var(--p-medium);
                            opacity: 0.9;
                            transition: var(--transition);

                            &:hover {
                                color: var(--color-secondary);
                            }
                        }
                    }
                    //===================================== Submenu End =======================================
                }
            }

            @media only screen and (max-width: $tablet-l) {
                display: block;
                background: var(--color-white);
                max-width: 310px;
                z-index: 1;
                top: 0;
                bottom: 0;
                right: -310px;
                position: fixed;
                transition: var(--transition-all);
                &.response-nav {
                    display: block;
                    right: 0;
                }
            }
        }

        .cart-action {
            ul {
                display: grid;
                grid-template-columns: auto;
                grid-auto-flow: column;
                align-items: center;
                justify-content: end;
                column-gap: 15px;
                @media only screen and (max-width: $mobile-s) {
                    column-gap: 10px;
                }

                li {
                    a {
                        @include flex-all-center;
                        position: relative;

                        i {
                            font-size: 20px;
                            color: rgb(0 0 0 / 40%);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 36px;
                            height: 36px;
                            background: var(--color-secondary);
                            border-radius: 50%;
                            transform: scale(0);
                            z-index: map-get($z-index-type, min);
                            transition: var(--transition-all);
                        }

                        &:hover {
                            &::after {
                                transform: scale(1);
                            }
                            i {
                                color: var(--color-white);
                            }
                        }
                    }

                    .qty {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background: var(--color-primary);
                        color: var(--color-white);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: -17px;
                        left: 12px;
                        line-height: 8px;
                        font-size: var(--font-size-b4);
                    }

                    &.search-list {
                        i {
                            font-size: 16px;
                            margin-right: 2px;
                        }

                        padding: 4px 15px;
                        border: 1px solid #f0f0f0;
                        border-radius: 8px;

                        input {
                            border: 0;
                            outline: none;
                        }

                        @media only screen and (max-width: $laptop-m) {
                            display: none;
                        }
                    }

                    &.search {
                        display: none;

                        @media only screen and (max-width: $laptop-m) {
                            display: block;
                        }
                    }

                    &:last-child {
                        display: none;

                        @media only screen and (max-width: $tablet-l) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

//================================= MAIN CLASS ============================

//Offer Slider

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -45px;
    top: 45%;
}

.offer {
    background: url(/assets/image/campaign-bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .row {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: calc(100% - 60%);
        justify-content: center;

        @media only screen and (max-width: $laptop) {
            grid-template-columns: 50%;
        }

        @media only screen and (max-width: $tablet-l) {
            grid-template-columns: 60%;
        }

        @media only screen and (max-width: $tablet) {
            grid-template-columns: 100%;
        }

        .offer-list {
            position: relative;

            .offer-next {
                position: absolute;
                left: 1px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                font-size: var(--font-size-b3);
            }

            .offer-prev {
                position: absolute;
                right: 1px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                font-size: var(--font-size-b3);
            }

            i {
                color: var(--color-white);
            }

            .carousel {
                text-align: center;
                color: var(--color-white);
                text-transform: map-get($word-type, up);
                font-weight: 700;
                padding: 1rem 0;
                font-size: var(--font-size-b1);
                a {
                    color: var(--color-white);
                    text-decoration: underline;
                }

                @media only screen and (max-width: $mobile-m) {
                    font-size: var(--font-size-b4);
                }
            }
        }
    }
}

//=============== Store Slider

.store {
    .row {
        .store-slider {
            .store-item {
                // background-color: red;
                display: grid;
                grid-template-columns: max-content auto;
                align-items: center;
                justify-content: center;
                padding: 17px 10px;
                border-radius: 10px;
                border: 1px solid #f0f0f0;
                box-shadow: var(--shadow-dark);
                margin-right: 30px;

                img {
                    display: block;
                    object-fit: contain;
                    width: 24px;
                    margin-right: 10px;
                }
                .title {
                    font-size: var(--font-size-b1);
                    color: var(--color-black);
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}

//============ Home slider

.home-slider {
    .home-slider-container {
        position: relative;
        background: #f7f7f7;
        border-radius: 6px;
        padding: 90px 100px;
        @media only screen and (max-width: $tablet-l) {
            padding: 30px;
        }
        .h-slider {
            z-index: 1;
        }
        .slider {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 5rem;

            @media only screen and (max-width: $tablet) {
                padding-bottom: 2rem;
            }
            @media only screen and (max-width: 668px) {
                grid-template-rows: auto auto;
                grid-template-columns: auto;
            }

            .info {
                div {
                    padding-left: 10px;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                .subtitle {
                    display: inline-block;
                    margin-bottom: 1rem;
                    i {
                        color: var(--color-white);
                        background: var(--color-secondary);
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        text-align: center;
                        margin-right: 10px;
                        line-height: 22px;
                    }
                    span {
                        color: var(--color-secondary);
                        font-weight: var(--s-bold);
                    }
                }

                .title {
                    font-size: 60px;
                    width: 80%;
                    margin-bottom: 3rem;
                    @media only screen and (max-width: $laptop-m) {
                        font-size: 50px;
                    }
                    @media only screen and (max-width: $laptop) {
                        font-size: 40px;
                    }
                    @media only screen and (max-width: $tablet-l) {
                        width: 100%;
                        margin-bottom: 1rem;
                    }

                    @media only screen and (max-width: $tablet) {
                        font-size: 30px;
                    }
                }

                .show-now {
                    display: inline-block;
                    margin-top: 20px;
                    box-shadow: var(--shadow-dark);
                    color: var(--color-heading);
                    background: var(--color-white);
                    padding: 13px 30px;
                    @include shop-btn;
                    transform: scale(1);
                    transition: all 0.5s ease-in-out;

                    @media only screen and (max-width: $tablet) {
                        padding: 6px 19px;
                        font-size: var(--font-size-b3);
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .img {
                margin-left: 20px;
                img {
                    display: inline-block;
                    width: 100%;
                    object-fit: contain;
                    @media only screen and (max-width: 668px) {
                        min-height: 168px;
                        max-height: 168px;
                    }
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 16rem;
            height: 16rem;
            background-color: var(--color-white);
            border-radius: 50%;
            top: 12%;
            left: 17%;

            @media only screen and (max-width: $tablet-l) {
                width: 10rem;
                height: 10rem;
                top: 5%;
                left: 9%;
            }

            @media only screen and (max-width: $tablet) {
                content: none;
            }
            //768 remove
        }

        //slick custom pagination

        .slick-dots {
            li {
                display: inline;
                margin: 0 4px;
                a {
                    display: inline-block;
                    width: 30px;
                    height: 4px;
                    border-radius: 5px;
                    background: #e6e6e6;
                    transition: all 0.5s ease-in-out;
                }

                &.slick-active {
                    a {
                        background: var(--color-dark);
                        width: 40px;
                    }
                }
            }
        }
    }
}

//================ Move On ======================

.move-on {
    a {
        background: var(--color-primary);
        display: flex;
        width: 45px;
        height: 45px;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 40px;
        right: 40px;
    }

    i {
        color: var(--color-white);
        font-size: 12px;
    }
}

//flash Deal

.flash-deal {
    .deal-header {
        margin-bottom: 5rem;
        .offer-icon {
            @include offer-info;
            background: var(--light-primary);
        }

        .about-deal {
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: $tablet) {
                grid-template-columns: auto max-content;
                align-items: start;
            }

            > div:first-child {
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;

                @media only screen and (max-width: $tablet) {
                    grid-template-columns: 100%;
                    grid-template-rows: 1fr 1fr;
                    gap: 30px;
                }
            }

            > div:last-child {
                text-align: right;
            }
            .timer {
                display: flex;
                gap: 10px;
                align-items: center;
                @media only screen and (max-width: $tablet) {
                    gap: 5px;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: var(--color-lighter);
                    color: var(--color-black);
                    @media only screen and (max-width: $tablet) {
                        width: 40px;
                        height: 40px;
                        font-size: var(--font-size-b4);
                        font-weight: var(--s-medium);
                    }
                }
            }
        }
    }

    .slick-slide {
        padding: 0 15px;
    }
}

//=================== Flash Saller

.best-seller {
    .best-seller-header {
        margin-bottom: 3rem;
    }
    .seller-list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        @media only screen and (max-width: $laptop-m) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (max-width: $tablet-l) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: $mobile-m) {
            grid-template-columns: 1fr;
        }

        .seller-product {
            padding: 0 30px;
            border-radius: 10px;
            position: relative;

            .product-about {
                justify-content: left;
                .product-price {
                    text-align: left;
                }
            }

            .top-cart {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -26px;
                right: 30px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid var(--color-white);
                background: var(--color-lighter);
                transition: var(--transition-all);
                i {
                    color: var(--color-body);
                    transition: var(--transition);
                }

                &:hover {
                    background-color: var(--color-primary);
                    i {
                        color: var(--color-white);
                    }
                }
            }

            &::before {
                content: "";
                width: 100%;
                height: 60%;
                inset: 0;
                position: absolute;
                background: #f7f7f7;
                border-radius: 10px;
                z-index: -1;
            }
        }
    }
}

//============== About Us
.about-us {
    .about-container {
        display: grid;
        grid-template-columns: 60% 40%;

        @media only screen and (max-width: $tablet-l) {
            grid-template-columns: 100%;
        }

        > div:first-child {
            padding: 3rem 1rem 0 10px;

            @media only screen and (max-width: 1400px) {
                padding: 0 3rem 3rem 10px;
            }

            @media only screen and (max-width: 570px) {
                padding: 0 10px 3rem 10px;
            }

            .about-us-info {
                margin-top: 3rem;
                .about-detail {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 4rem;
                    @media only screen and (max-width: $tablet) {
                        grid-gap: 2rem;
                    }

                    @media only screen and (max-width: 570px) {
                        grid-template-columns: 1fr;
                    }

                    .detail {
                        display: grid;
                        grid-template-columns: 1fr;
                        .number {
                            font-size: 40px;
                            font-weight: var(--s-bold);
                            color: var(--color-lightest);
                            margin-bottom: 10px;
                        }
                        .title {
                            padding: 10px 0;
                            font-size: 25px;
                            font-weight: var(--s-bold);
                            color: var(--color-black);

                            @media only screen and (max-width: $tablet-l) {
                                font-size: 22px;
                            }
                        }
                        p {
                            font-size: 16px;
                            font-weight: var(--p-regular);
                            line-height: 1.7;
                            color: var(--color-body);
                        }
                    }
                }
            }
        }

        .about-gallery {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            > div {
                padding: 0 10px;
                &.first {
                    margin-top: 2rem;
                    @media only screen and (max-width: 570px) {
                        margin-top: 0;
                    }
                }
                img {
                    width: 100%;
                    display: inline-block;
                    object-fit: contain;
                    border-radius: 6px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

//=========== best sl
.bs-today {
    padding-bottom: 2rem;

    .about-deal {
        @media only screen and (max-width: $tablet) {
            grid-template-columns: repeat(2, 50%) !important;
        }
    }

    .product-about {
        justify-content: left;
        .product-price {
            text-align: left;
        }
    }
}

//=========== Don't miss (not miss)

.not-miss {
    padding-top: 7rem;
    .miss-info {
        display: grid;
        grid-template-columns: 40% 60%;
        background-color: var(--color-lighter);
        border-radius: 10px;
        padding: 65px;

        @media only screen and (max-width: 1100px) {
            grid-template-columns: 50% 50%;
        }
        @media only screen and (max-width: $tablet-l) {
            grid-template-columns: 1fr;
            padding: 10px;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 45px;

            @media only screen and (max-width: $laptop-m) {
                padding: 0 15px;
            }

            @media only screen and (max-width: $tablet-l) {
                align-items: center;
                padding: 0;
                .highliter-seconday {
                    justify-content: center;
                }
            }

            .title {
                display: inline-block;
                font-size: 46px;
                color: var(--color-black);
                font-weight: 900;

                @media only screen and (max-width: $laptop-m) {
                    font-size: 40px;
                    text-align: center;
                }

                @media only screen and (max-width: $tablet) {
                    font-size: 28px;
                }
            }

            .time-left {
                display: flex;
                gap: 10px;

                .clock-time {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    background: var(--color-white);
                    text-align: center;

                    @media only screen and (max-width: $mobile-m) {
                        width: 60px;
                        height: 60px;
                    }

                    .tm {
                        font-size: 23px;
                        font-weight: 500;
                        color: var(--color-black);

                        @media only screen and (max-width: $mobile-m) {
                            font-size: 18px;
                        }
                    }
                }
            }

            .add-to-cart {
                background: var(--color-primary);
                color: var(--color-white);
                padding: 20px 35px;
                font-size: 16px;
                font-weight: 700;
                word-spacing: 2px;
                border-radius: 5px;
                border: 0;
            }
        }

        .banner {
            position: relative;
            .img {
                position: absolute;
                top: -170px;
                @media only screen and (max-width: $laptop-m) {
                    position: static;
                    top: 0;
                    padding: 0 15px;
                }
            }
        }
    }
}

// people

.people {
    .head-highliter {
        justify-content: center;
    }
    .head-title {
        text-align: center;
    }

    .feature-list {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;

        @media only screen and (max-width: $laptop-m) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media only screen and (max-width: $tablet-l) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media only screen and (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: $mobile-m) {
            grid-template-columns: 1fr;
        }

        .feature {
            > div {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 1fr;
                border: 1px solid #f1f1f1;
                justify-content: center;
                border-radius: 5px;
                align-items: center;
                padding: 39px;
                grid-row-gap: 18px;
                box-shadow: none;
                transition: all 0.1s ease-in-out;
                &:hover {
                    box-shadow: var(--shadow-light);
                }
                .title {
                    color: var(--color-black);
                    font-size: var(--font-size-b1);
                    font-weight: var(--p-extra-bold);
                    text-align: center;
                }
                img {
                    display: inline-block;
                    max-width: 100%;
                    object-fit: contain;
                    margin: 0 auto;
                }
            }
        }
    }
}

.testimonial {
    background: #f9f3f0;
    .row {
        padding: 5rem 0;
        .testimonial-list {
            .about-testimonial {
                display: grid;
                grid-auto-flow: row;
                row-gap: 2.6rem;
                margin-top: 3rem;
                padding: 20px;

                //    margin-left:1rem;
                .content {
                    background: var(--color-white);
                    color: var(--color-body);
                    text-transform: none;
                    border-radius: 10px;
                    padding: 40px;
                    position: relative;

                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        left: 7%;
                        bottom: -29px;
                        border-top: 54px solid var(--color-white);
                        border-right: 123px solid transparent;
                        position: absolute;
                    }
                }
                .auther {
                    display: grid;
                    grid-template-columns: max-content auto;
                    column-gap: 20px;

                    > div {
                        display: grid;
                        grid-template-rows: repeat(2, 1fr);
                        .name {
                            font-size: 18px;
                            color: var(--color-black);
                            font-weight: 500;
                        }
                    }
                }
            }

            .slick-current + .slick-slide {
                margin-top: 2.2rem;
            }
        }
    }
}

.news-letter {
    .container {
        background: url(/assets/image/bg-image-6.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;

        .about-news-letter {
            padding: 72px;
            @media only screen and (max-width: $mobile-m) {
                padding: 10px;
            }
            .subscribe-form {
                > div {
                    display: flex;
                    gap: 10px;
                    padding: 3rem 0;

                    @media only screen and (max-width: $tablet) {
                        flex-direction: column;
                    }

                    .email {
                        display: inline-block;
                        position: relative;
                        background-color: var(--color-white);
                        border: 1px solid var(--color-border-light);
                        border-radius: 8px;
                        box-shadow: var(--shadow-light);
                        background: var(--color-white);
                        width: 430px;
                        @media only screen and (max-width: $tablet) {
                            width: 100%;
                            justify-content: center;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            background: url(/assets/image/send-mail.png);
                            background-repeat: no-repeat;
                            left: 6px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 25px;
                            height: 25px;
                        }

                        input {
                            border-radius: 8px;
                            border: 0;
                            outline: none;
                            font-size: var(--font-size-b1);
                            padding: 20px 20px 20px 40px;
                            width: 100%;
                        }
                    }

                    .btn-subscribe {
                        padding: 18px 38px;
                        background: var(--color-heading);
                        color: var(--color-white);
                        font-size: 17px;
                        border-radius: 10px;
                        font-weight: 600;
                        transform: scale(1);
                        transition: 0.3s;
                        &:hover {
                            transform: scale(1.1);
                        }

                        @media only screen and (max-width: $tablet) {
                            width: 100%;
                        }
                        @media only screen and (max-width: $mobile-s) {
                            padding: 12px 25px;
                        }
                    }
                }
            }
        }
    }
}

//==== About Service

.service {
    padding-bottom: 1rem;

    .service-list {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        padding-bottom: 2rem;
        box-shadow: 0 7px 0px -6px var(--color-border-light);
        @media only screen and (max-width: $laptop-m) {
            grid-auto-flow: unset;
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: $tablet) {
            grid-template-columns: auto;
        }
        .service-info {
            display: grid;
            grid-template-columns: 50px calc(100% - 50px - 18px);
            align-items: center;
            justify-content: center;
            column-gap: 17px;
            img {
                width: 45px;
                object-fit: contain;
                order: 1;
            }

            .service-detail {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                order: 2;

                .title {
                    color: var(--color-heading);
                    font-size: 16px;
                    font-weight: 800;
                }
            }
        }
    }
}

//==========Footer
footer {
    text-transform: none;

    //footer link of web
    .footer-link {
        .footer-list {
            box-shadow: 0 7px 0px -6px var(--color-border-light);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: space-between;
            gap: 7px;

            @media only screen and (max-width: $laptop) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media only screen and (max-width: $tablet) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media only screen and (max-width: 570px) {
                grid-template-columns: 1fr;
            }

            .footer {
                padding: 20px;
                .title {
                    display: inline-block;
                    font-size: 18px;
                    color: var(--color-heading);
                    font-weight: 800;
                    margin-bottom: 1rem;
                }

                address {
                    padding-bottom: 25px;
                }

                ul {
                    &.link {
                        a {
                            color: var(--color-body);
                            font-weight: 500;
                            font-size: 17px;
                            transition: var(--transition-all);
                            position: relative;
                        }
                    }

                    li {
                        padding: 3px 0;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        a {
                            color: inherit;
                        }
                    }
                }

                .go-to-mobile {
                    display: grid;
                    grid-template-columns: max-content 1fr;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                    gap: 10px;

                    img {
                        display: block;
                        object-fit: contain;
                    }

                    .mobile-app-link {
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }

    //======= copy right of footer
    .copyright {
        padding:1rem 0;
        .copy-right-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;

            @media only screen and (max-width:$laptop){
                grid-template-columns: 1fr;
            }

            ul{
                display: flex;
                gap:20px;
                justify-content: center;

                i{
                    color:var(--color-body);
                }
            }
            .rights{
                margin:0 auto;
                @media only screen and (max-width:$laptop){
                    font-size: 14px;
                 }
            }

            .download{
                margin-left: auto;
                @media only screen and (max-width:$laptop){
                   margin: 0;
                }
            }
        }
    }
}
