/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}*/


@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1301px) and (max-width: 1399px) {

  .offer-list>div {
    font-size: 16px;
  }

  .banner-subtitle {
    font-weight: 300;
    font-size: 30px;
  }

  .banner-title {
    font-size: 30px;
  }

  .banner-price {
    font-size: 12px;
  }

  .banner-price .price {
    font-size: 28px;
  }


  .modal {
    width: 780px;
  }

  .modal-product-heading {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 15px;
    word-spacing: 1px;

  }


  modal .modal-info {
    gap: 10px;
  }



}

@media only screen and (max-width: 1300px) {

  .about-service .title {
    font-weight: 500;
    font-size: 14px;
  }

  .about-service .about {
    font-size: 12px;
  }

  .offer-subtitle {
    font-size: 20px;
  }

  .offer-title {
    font-size: 20px;
  }

  .offer-banner-container .banner-price {
    font-size: 12px;
  }

  .offer-banner-container .banner-price .price {
    font-size: 16px;
    font-weight: 600;
  }

  .offer-list>div {
    font-size: 15px;
  }


  .banner-subtitle {
    font-weight: 300;
    font-size: 27px;
  }

  .banner-title {
    font-size: 27px;
  }

  .banner-price {
    font-size: 13px;
  }

  .banner-price .price {
    font-size: 25px;
  }


  .btn-banner1 {
    padding: 5px;
  }


  .banner-content-1 {
    bottom: 22%;
  }

  .app-store img {
    width: 149px;
  }


  .modal {
    width: 700px;
  }

  .modal-product-heading {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 10px;
    word-spacing: 1px;

  }

  modal .modal-info {
    gap: 7px;
  }


}

@media only screen and (max-width:1200px) {

  .sec-main-title {
    font-size: 12px;
    display: inline-block;
  }

  .sec-menu {
    gap: 20px;
  }

  .secondary-list {
    gap: 4px;
  }



  .sec-menu-cat {
    gap: 0;
  }

  .cat-title {
    font-size: 12px;
  }

  .main-menu svg {
    width: 24px;
    height: 24px;
  }

  .wish-list-menu svg {
    width: 20px;
    height: 20px;
  }

  .wish-list-menu a {
    gap: 0;
  }

  .call-us {
    gap: 5px;
  }

  .call-us div:last-child {
    font-size: 12px;
  }

  .cart-list {
    gap: 10px;
  }

  .services .service-list {
    flex: 1 1 33%
  }

  .about-service {
    flex: 0 1 33.3%;
  }


  .product-detail .info {
    font-size: 12px;
  }

  .product .info .title {
    font-size: 13px;

  }

  .product-price .price {
    font-size: 14px;
  }

  .product-price .discount {
    font-size: 14px;
  }

  .product-price .cross {
    font-size: 12px;
  }

  .deal-content .info .name {
    font-size: 15px;
  }

  .price-info .product-price .price {
    font-size: 14px;
  }

  .time .title {
    display: none;
  }



  .banner-subtitle {
    font-weight: 300;
    font-size: 23px;
  }

  .banner-title {
    font-size: 23px;
  }

  .banner-price {
    font-size: 10px;
  }

  .banner-price .price {
    font-size: 18px;
    font-weight: 500;
  }


  .banner-content-1 {
    bottom: 16%;
  }

  .offer-list>div {
    font-size: 13px;
  }

  .btn-popular {
    font-size: 13px;
    padding: 5px 6px;
  }

  .popular-banner-info .title {
    font-size: 20px;
  }

  .popular-banner-info .subtitle {
    font-size: 20px;
  }

  .big-discount-banner {
    display: none;
  }

  .product-heading {
    font-size: 15px;
  }

  footer .about-site p {
    font-size: 12px;

  }

  .app-store img {
    width: 128px;
    height: 38px;
  }


  footer .do-slide {
    display: block;
  }

  .modal-product-heading {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 10px;
    word-spacing: 1px;

  }

  .modal {
    padding: 10px;
  }

  .modal .modal-info {
    gap: 7px;
  }


  .mobile-menu {
    padding-right: 0;
  }

}

@media only screen and (max-width: 992px) {

  .modal {
    width: 700px;
  }

  .top-menu {
    display: none;
  }

  .secondary-menu {
    position: relative;
    background: var(--color-body);
  }

  .mobile-menu,
  .sec-menu svg,
  .secondary-menu .sec-categories,
  .secondary-menu .wish-list-menu {
    display: none;
  }

  .secondary-list {
    flex-direction: column;
  }

  .secondary-list>div {
    width: 100%;
  }

  .sec-menu {
    width: 100%;
    z-index: 5;
  }

  .call-us {
    display: none;
  }

  .cart-wish {
    display: block;
  }

  .main-menu .search {
    order: 1;
    margin-top: 18px;
  }

  .menu-icon {
    display: block;
  }

  .main-header .main-menu {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-header .main-menu>div {
    flex: 1;
  }

  .main-header .main-menu>div.search {
    flex: 1 1 100%;
  }
  

  .nav-menu:hover>.nav-menu-child {
    position: static;
    max-width: 100%;
  }

  .offer-banner-list {
    gap: 20px
  }

  .about-service {
    justify-content: space-between;
    flex: 0 1 50%;
  }

  .offer-about {
    flex: 0 1 48%;
  }

  .offer-list>div {
    justify-content: space-between;
    flex: 1 50%;
    font-size: 15px;
  }



  .offer-list>div:nth-child(2n+0) {
    text-align: right;
  }

  .mixed-product-list {
    flex-wrap: wrap;
  }

  .deal-of-the-day {
    width: 100%;
  }

  .newfeature-product {
    width: 100%;
  }

  .deal-img-area .cart-widget {
    right: 0;
  }

  .avilable-color {
    left: 0;
  }

  .offer-time {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .deal-content .offer-time .time {
    justify-content: center;
    gap: 10px;
  }

  .product .offer-time {
    display: none;
  }

  .product .cart-widget {
    right: 0;
  }

  .product .product-color {
    left: 0;
  }


  .banner-content-1 {
    width: 40%;
  }

  .banner-subtitle {
    font-weight: 300;
    font-size: 20px;
  }

  .banner-title {
    font-size: 20px;
  }

  .banner-price {
    margin: 10px 0;
  }

  .shop-now {
    padding: 9px 12px;
    font-size: 10px;
  }


  .btn-banner1 {
    font-size: 10px;
  }

  .top-product .move-btn {
    opacity: 1;
  }


  .btn-popular {
    font-size: 12px;
    padding: 5px 6px;
  }

  .popular-banner-info .title {
    font-size: 18px;
  }

  .popular-banner-info .subtitle {
    font-size: 18px;
  }


  .popular-banner-info {
    padding: 15px 0 0 26px;
  }

  .about-discount-product {
    flex-direction: column;
  }

  .about-discount-product>div:first-child {
    width: 100%;
  }

  .show-category ul {
    margin-top: 5px;
  }

  .show-category ul li {
    display: inline-block;
  }

  .show-category .all-cat {
    display: none;
  }

  .bg-mg {
    display: none;
  }

  .discount-rpoduct-list {
    width: 100%;
  }

  .show-category ul li:last-child::after {
    content: none;
  }

  .product .cart-widget svg {
    width: 15px;
  }

  .product .cart-widget-list a {
    width: 30px;
    height: 30px;
    padding: 3px;
  }

  .product .new-sale {
    left: 0;
    top: 11px;
    width: 20px;
    padding: 3px;
    width: fit-content;
    font-size: 10px;
  }


  footer .about-site>div {
    flex: 1 100%;
    gap: 0;
  }

  footer .about-site>div.subscribe {
    flex: 1 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  footer .sub-input {
    width: 75%;
    padding: 2px;
    margin-top: 12px;
  }

  footer .do-slide {
    display: none;
    padding: 8px 20px 12px;
  }

  .footer .address {
    margin-top: 10px;
  }

  footer .call-detail div:last-child a {
    font-size: 14px;
  }

  footer .social-links,
  .app-store {
    margin-top: 10px;
  }

  footer .product-heading {
    position: relative;
    padding: 10px;
  }

  /* not vvi
  
  ex: 
  <div class="footer-top">
  <div class="subscribe">
    <div class="product-heading">Title</div>
  </div>
  <div class="social">
    <div class="product-heading">Title</div>
  </div>
  <div class="app-store">
    <div class="product-heading">Title</div>
  </div>
  </div>
  */
  footer .product-heading:not(.subscribe .product-heading)::after {
    content: '\2304';
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0;
    transform: rotateZ(0deg);
    transition: all 0.5s ease-in-out;

  }

  /* not vvi */
  footer .active .product-heading:not(.subscribe .product-heading)::after {
    content: '\2304';
    transform: rotateZ(180deg);
    top: 10px;
  }

  footer .social,
  footer .app {
    padding: 0;
    border: 0;
  }

  footer .active .product-heading {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
  }



  .footer-link {
    flex-direction: column;
  }

  .footer .links {
    flex-direction: column;
    gap: 0;
  }

  footer .footer {
    padding: 10px 0;
  }

  .footer .product-heading {
    margin-bottom: 0;

  }

  .bottom-footer .payment-n-copy {
    flex-direction: column;
    gap: 17px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .move-up a {
    padding: 8px 9px;
  }


  /*   ######################## Menu overlay Fixed ################### */

  .menu-overlay::before {
    z-index: 3;
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 50%);
  }


  /*  ============ top-list */

  .menu-overlay .header-wrapper {
    z-index: 4;
    background: var(--color-body);
    position: relative;
  }




}

@media only screen and (max-width: 768px) {


  .offer-about {
    flex: 0 1 48%;
  }

  .search button span {
    display: none;
  }

  .search button {
    padding: 0 14px;
    margin: 2px;
  }

  .search select {
    height: auto
  }

  .search i {
    font-size: 16px;
    line-height: 16px;
  }


  .btn-banner1 {
    padding: 4px 10px;
  }

  .banner-subtitle {
    font-size: 18px;
  }

  .banner-title {
    font-weight: 500;
    font-size: 17px;
    margin-top: 4px;
  }

  .banner-price {
    margin: 6px 0;
  }

  .banner-price .price {
    font-size: 14px;
  }

  .shop-now {
    padding: 6px 7px;
    font-size: 9px;
  }

  .header-banner-list ul li.slick-active {
    width: 40px;
  }

  .header-banner-list ul li {
    height: 10px;
  }

  .offer-list>div {
    font-size: 12px;
  }


  .popular-banner-list {
    flex-direction: column;
    gap: 15px;
  }

  .app-store img {
    width: auto;
    height: auto;
  }

  .modal {
    width: 380px;
  }

  .modal>div {
    width: 100%;
  }




}

@media only screen and (max-width: 600px) {

  .banner-content-1 {
    bottom: 31%;
    width: 44%;
  }

  .about-service {
    flex: 1 100%;
    justify-content: center;
  }

  .offer-about {
    flex: 100%;
  }

  .btn-banner1,
  .banner-price {
    display: none;
  }

  .shop-now {
    padding: 6px 11px;
    margin-top: 10px;
  }

  .banner-title {
    font-size: 14px;
  }


  .offer-list>div {
    flex: 1 1 100%;
    font-size: 12px;
    text-align: center;
  }

  .offer-list>div:nth-child(2n+0) {
    text-align: center;
  }

}


@media only screen and (max-width: 400px) {
  .modal {
    width: 300px;
  }

  .modal .modal-detail {
    padding: 10px;
  }

  .modal-info p {
    font-size: 12px;
  }
}