/* https://themes-gudgets.myshopify.com/ */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-family: Rubik, sans-serif;
    --font-size-base: 14px;
    --font-line-height: 16px;
    --color-body: #ffffff;
    --color-body-text: #777777;
    --color-border: #e5e5e5;
    --color-select-text: #016a78;
    --color-btn-secondary: #f04706;
    --color-yellow: #ffcc00;
    --color-tag: #ebb134;
    --color-text: #313c46;
    --color-product-section: #f5f5f9;
    --color-btn-primary: #2b4861;
    --color-product-title: #273c99;
    --color-product-primary: #f5f5f5;
    --slick-font-family: "slick-icons, sans-serif";
    --slick-arrow-color: #111;
    --footer-top-color: #2d3741;
    --color-footer-border: #3c464f;
    --color-footer-content: #cccccc;
    --selectIcon: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/ico-select.svg?v=3228225…);

}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--color-body);
    color: var(--color-body-text);
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 15px;
    /* border:1px solid red */
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.d-none {
    display: none !important;
}

i {
    font-size: 18px;
}

.ml-3 {
    margin-left: 3px;
}

.btn {
    display: inline-block;
    color: var(--color-body);
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    /* width: 50%; */
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
}

.section-height {
    margin-top: 3rem;
}


/*  ####################### Header menu  #######################  */



header .top-menu {
    position: relative;
    background: #f3f5f6;
    padding: 10px;

}

header .top-list {
    display: flex;
    justify-content: space-between;
}

.top-list .top-menu ul li {
    display: inline-block;
}

.top-list>div {
    display: flex;
    gap: 20px;
}

.menu-icon {
    display: none;
}


.top-list .top-right ul {
    display: flex;
    align-items: center;
}

.top-list .top-right ul li {
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
}

.top-list .top-right ul li:hover {
    color: var(--color-btn-secondary)
}



.top-left>div {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.top-list .top-right ul li:not(:last-child),
.top-left>div:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}





.select-option {
    padding: 8px 0;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

.lang-list {
    position: absolute;
    top: 40px;
    left: 8%;
    display: block;
    /* background: red; */
    width: 130px;
    padding: 10px 15px;
    line-height: 24px;
    background: var(--color-body);
    border: 1px solid var(--color-border);
    border-radius: 0 0 10px 10px;
    display: none;
    z-index: 1;
}

.select-option:hover,
.lang.open .select-option,
.currency.open .select-option {
    color: var(--color-btn-secondary);
}

.lang.open .lang-list,
.currency.open .currency-list {
    display: block;
}

.lang.open .mdi:before,
.currency.open .mdi:before {
    transform: rotate(180deg);
}

.lang.open ul li a,
.currency.open ul li a {
    padding: 5px;
    transition: all 0.2s4 ease-in-out;
}

.lang.open ul li:hover a,
.currency.open ul li:hover a {
    color: #111;
}

.lang.open ul li:first-child a,
.currency.open ul li:first-child a,
.lang.open ul li:hover a,
.currency.open ul li:hover a {
    color: #111;
}


.county-flag {
    display: inline-block;
    height: 10px;
    width: 16px;
}

.flag-usd {
    background: url(./image/coutry-flag/currency_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flag-eur {
    background: url(./image/coutry-flag/currency_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flag-gap {
    background: url(./image/coutry-flag/currency_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flag-aud {
    background: url(./image/coutry-flag/currency_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flag-inr {
    background: url(./image/coutry-flag/currency_5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.currency-list {
    position: absolute;
    top: 40px;
    left: 21%;
    display: block;
    background: red;
    width: 130px;
    padding: 10px 15px;
    line-height: 24px;
    background: var(--color-body);
    border: 1px solid var(--color-border);
    border-radius: 0 0 10px 10px;
    display: none;
    z-index: 1;

}

/*    color: var(--color-btn-secondary);
    font: 500 13px/18px var(--font-stack-body);

*/

.top-right ul li:first-child a {
    color: var(--color-btn-secondary)
}

.top-right ul li:first-child svg {
    width: 18px;
    height: 18px;
}

.flash-ligh {
    display: flex;
    align-items: center;
    gap: 3px;
}



.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu svg {
    width: 38px;
    height: 38px;
    transition: all 0.6s ease-in-out;
}

.logo img {
    width: 100%;
}

.cart-list {
    display: flex;
    gap: 30px;
    padding: 0 10px;
    justify-content: end;
}

.cart-list .menu-cart>a {
    display: block;
}

.cart-list .user-cart,
.cart-list .menu-cart {
    font-weight: 500;
    color: #111;
    transition: all 0.3s ease-in-out;
}


.cart-list .user-cart:hover,
.cart-list .menu-cart:hover {
    color: var(--color-btn-secondary);
}

.cart-list .user-cart:hover svg,
.cart-list .menu-cart:hover svg {
    transform: rotateY(180deg);

}

.call-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.5s ease-in-out;
}



.call-us div:last-child {
    display: flex;
    flex-direction: column;
}



.call-us svg,
.call-us a {
    color: var(--slick-arrow-color);
    padding-bottom: 3px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.call-us:hover a {
    color: var(--color-btn-secondary);
}

.call-us:hover svg {
    color: var(--color-btn-secondary);
    transform: rotateY(180deg);
}

.search {
    border: 2px solid var(--color-border);
    display: flex;
    width: 50%;
    justify-content: space-between;
    border-radius: 5px;
}

.main-header {
    padding: 25px 0;
}

.search select {
    border: none;
    padding: 10px 36px 10px 15px;
    height: 50px;
    margin: 0;
    background-color: transparent;
    appearance: none;
    color: var(--color-body-text);
    /* background: red; */
}

.search .search-select-list {
    position: relative;
}

.search .search-select-list::after {
    content: '';
    position: absolute;
    background: #dedede;
    width: 1px;
    height: 23px;
    top: 0;
    bottom: 0;
    /* right: auto;
    left: 100%; */
    margin: auto 0;
}

select {
    background-image: var(--selectIcon);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 15px center;
}

.search input {
    width: 100%;
    font-family: var(--font-family);
    cursor: text;
    letter-spacing: 1px;
    padding: 10px 15px;
    border: none;
}

.search button {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-text);
    color: var(--color-body);
    border-radius: 4px;
    margin: 3px;
}



.menu-cart {
    position: relative;
}

.menu-cart .item-count {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: var(--color-body);
    background: var(--color-btn-secondary);
    display: inline-block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
    position: absolute;
}

.do-move {
    transition: all 0.5s ease-in-out;
}

.do-move:hover {
    color: var(--color-btn-secondary);
}


.do-move .mdi.move::before {
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
}

.do-move:hover .mdi.move::before {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.secondary-menu {
    background: var(--color-yellow);
    color: #111;
}

/* SECONDARY MENU */

.sec-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 5rem; */
    position: relative;
    padding-right: 16px;
    cursor: pointer;
}

.sec-menu:hover .mdi{
    animation: roted 2s forwards;
}

@keyframes roted {
    100%{ transform: rotateY(180deg);}
 }

.mobile-menu {
    display: flex;
    align-items: center;
    padding-right: 5rem;
}

.sec-menu::after {
    content: "";
    position: absolute;
    inset: 0 0 0 auto;
    margin: auto;
    height: 30px;
    width: 1px;
    background: rgb(0 0 0 / 10%);

}

.sec-menu .mdi {
    font-size: 25px;
}

.sec-menu svg {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.sec-main-title {
    font: 500 16px/28px var(--font-family);
    text-transform: uppercase;
}

.sec-menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.secondary-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.secondary-list>div {
    display: flex;
    gap: 26px;
}

.sec-menu-cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.cat-menu {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 7px;
}

.cat-section,.nav-menu {
    /* position: relative; */
    transition: all 0.2s ease-in-out;
    margin-top:5px;
}

.submenu {
    position: absolute;
    display: none;
    padding: 20px 54px 20px 20px;
    left: 0;
    right: 0;
    top: 100%;
    background: var(--color-body);
    color: var(--color-body-text);
    width: max-content;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    transition: all 0.2s ease-in-out;
    opacity: 1;
    transform-origin: center top 0;
    z-index: 1;
}

.submenu.mobmenu {
    width: 100%;
    display: none;
    padding: 0 0;
}

.sec-menu.active .submenu.mobmenu,
.menu-icon.active  .submenu.mobmenu{
  display: block;
}


.submenu.mobmenu ul {
    width: 100%;
}

.submenu.mobmenu ul li a {
    display: flex;
    align-items: center;
    color: var(--color-text);
    justify-content: space-between;
    padding:12px 15px;
    transition: all 0.5s ease-in-out;
}

.submenu.mobmenu .side_name::after {
    content:"\002B";
}

.submenu.mobmenu ul li a:hover,.submenu.mobmenu ul li a.active{
    color:var(--color-btn-secondary);
}

.submenu.mobmenu .side_name:hover::after, .submenu.mobmenu .side_name.active::after{
    content: "\2212";
}

.submenu.mobmenu ul li a >div {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.submenu ul li a {
    padding: 6px 10px 6px 0px;
    display: block;
}

.nav-menu:hover >.nav-menu-child, .nav-menu.active >.nav-menu-child{
    display: block;
    left: 100%;
    top:0;
    opacity: 1;
    animation: fade 2s, move 1s forwards;
}

@keyframes fade {
    0% { opacity: 0 }
    100%{ opacity: 1}
  }

  @keyframes move {
      0%{top:30px}
      100%{top:0}
  }


.submenu .child-submenu-parent {

    display: flex !important;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.child-submenu-parent .submenu {
    top: 0;
    left: -157%;
}


/* .cat-section:hover>.submenu, */
.child-submenu-parent:hover>.submenu {
    display: block;
}



.submenu.parent {
    padding-left: 0;
}

.submenu.parent li {
    padding-left: 20px;
}


.cat-title {
    font-weight: 500;
}

.cat-sub-title {
    display: block;
    font-weight: 500;
    color: #111;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 58px;
}

.cat-sub-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-border);

}

.submenu .banner-submenu {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.banner-submenu-img {
    margin: 24px 0 0;
    display: flex;
    gap: 40px;
}

.banner-child {
    padding-right: 10px;
}

.nav-menu-child .banner-child{
    flex:0 1;
    text-align: center;
}


.cart-wish {
    display: none;
}


.wish-list-menu {
    display: flex;
    gap: 20px;
}

.wish-list-menu svg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease-in-out;
    color: #111;
}

.compare-number {
    display: inline-block;
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    color: var(--color-body);
    background-color: var(--color-btn-secondary);
    text-align: center;
    vertical-align: middle;
}

.wish-list-menu a {
    display: flex;
    gap: 2px;
}


.wishlist-icon:hover svg,
.compare-icon:hover svg {
    transform: rotateY(180deg);
}



/* SLIDER BANNER */


.slider {
    position: relative;
}

.banner img {
    width: 100%;
    display: inline-block;
}

.banner-content-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 16%;
    width: 34%;
}

.banner .text-left {
    left: 6%;
}




.header-banner-list .slick-dots button {
    display: none;
}

.header-banner-list ul.slick-dots {
    position: absolute;
    bottom: 18px;
    width: 100%;
    display: flex !important;
    justify-content: center;
    gap: 10px;

}

.header-banner-list ul li {
    background: var(--color-body);
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.header-banner-list ul li.slick-active {
    background: var(--color-yellow);
    width: 40px;
    border-radius: 10px;

}

.btn-banner1 {
    background: var(--color-btn-secondary);
    width: fit-content;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.banner {
    position: relative;
}

.banner-subtitle {
    font-weight: 300;
    font-size: 36px;
    /* margin: 0 0 5px; */
    color: var(--color-text);
    display: inline-block;
}

.banner-title {
    font-size: 36px;
    color: var(--color-text);
}

.banner-price {
    margin: 20px 0;
    text-transform: uppercase;
    color: var(--color-text);
}

.banner-price .price {
    font-size: 32px;
    color: var(--color-btn-secondary)
}

.shop-now {
    width: fit-content;
    padding: 12px;
    border: none;
    background-color: var(--color-text);
    box-shadow: inset 0 0 0 0 var(--color-btn-secondary);
    transition: all 0.3s ease-in-out;
}

.shop-now:hover {
    box-shadow: inset 200px 0 0 0 var(--color-btn-secondary)
}


/* ############### SERVICES  #################*/

.service-list {
    display: flex;
    flex-wrap: wrap;
}

.about-service img {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.service-word {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    line-height: 1.5;
}

.about-service {
    flex: 0 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border);
    padding: 24px 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.about-service:hover img {
    transform: rotateY(180deg);
}



.about-service .title {
    font-weight: 500;
    font-size: 17px;
    color: var(--color-text);
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;

}

.about-service:hover .title {
    color: var(--color-btn-secondary);
}

.about-service .about {
    font-style: italic;
}



/* ========================== OFFER SERVICE  ========================== */

.offer-banner-list {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    flex-wrap: wrap;
}

.offer-about {
    flex: 1 1 30%;
}

.offer-about a.offer-link {
    position: relative;
    display: block;
    overflow: hidden;
}

.offer-about img {
    width: 100%;
    display: block;
}

.offer-banner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 0;
    width: 45%;
    display: flex;
    align-items: center;
}


.offer-word>* {
    display: block;
}

.offer-subtitle {
    font-weight: 300;
    font-size: 25px;
    color: var(--color-body)
}

.offer-title {
    font-weight: 500;
    font-size: 25px;
    color: var(--color-body)
}

.offer-banner-container .banner-price {
    color: var(--color-body)
}

.offer-banner-container .banner-price .price {
    color: var(--color-yellow);
    font-size: 20px;
    font-weight: 600;
}


/* =========================== OFFER  HEADER ============================= */


.offer-header {
    background: var(--color-btn-primary)
}

.offer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer-list>div {
    flex: 1;
    font-size: 18px;
    padding: 20px 0;
    justify-content: space-between;
    color: var(--color-body);
}

.cross {
    text-decoration: line-through;
    text-decoration-color: var(--color-border);
    text-decoration-thickness: 0.1px;

}



/* =========================== TOP PRODUCT  ============================= */
#product {
    background: var(--color-product-section);
    padding: 1px 0 40px 0;
}

.top-products {
    /* display: flex;
    flex-wrap: wrap; */
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background: var(--color-body);
}

.top-product-list {
    border-right: 1px solid var(--color-border);
}

.top-product-list>.top-product-info:first-child {
    border-bottom: 1px solid var(--color-border);
}

.top-product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    line-height: 2;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}




.top-product-info>div:first-child {
    margin-left: 25px;
    transition: all 0.5s ease-in-out;
}


.top-product-info>div {
    width: 50%;
}

.product-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-btn-primary);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    /* height: 1.2em;  */
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}

.top-product-info:hover {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

.top-product-info>div:first-child:hover .product-item {
    color: var(--color-btn-secondary)
}

.top-product {
    position: relative;
}

.top-product-info img {
    width: auto;
    display: block;
    width: 100%;
}


.top-product .move-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-body);
    border: 1px solid var(--color-border);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.top-product .slick-prev {
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.top-product .slick-next {
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}



.top-product:hover .slick-prev,
.top-product:hover .slick-next {
    opacity: 1;
}

.move-btn:hover {
    background: rgba(43, 72, 97, 0.7);
}

.move-btn:hover i {
    color: var(--color-body);

}



/* =============================   MIXED PRODUCT ============================= */

.mixed-product-list {
    display: flex;
    gap: 25px;
}

.deal-of-the-day {
    width: 25%;
}

.newfeature-product {
    width: calc(100% - 25% - 25px);
    background: var(--color-product-section)
}

.deal-product {
    border: 2px solid var(--color-btn-secondary);
    border-radius: 4px;
    background: var(--color-body);
    padding: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.deal-product:hover .cart-widget {
    right: 0px;
}

.deal-of-the-day>div:first-child,
.newfeature-product>div:first-child {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-product-section);
    padding-bottom: 12px;
    align-items: center;
}

.newfeature-product>div:first-child>div:first-child {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-product-section);
    ;
    align-items: center;
    gap: 50px;
}

.product-heading {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text);
    text-transform: capitalize;
}

.deal-img-area {
    position: relative;
}

.deal-img-area .cart-widget {
    position: absolute;
    top: 25%;
    right: -25%;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.deal-img-area .cart-widget-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.deal-img-area .cart-widget-list a {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background: rgb(229 229 229 / 70%);
}

.deal-img-area .cart-widget svg {
    width: 16px;
    color: #000;
}

.deal-product .new-sale {
    position: absolute;
    /* top: 2%;
    left: -14%; */
    top: -10%;
    left: -26%;
    width: 50%;
    text-align: center;
    display: inline-block;
    background-color: var(--color-tag);
    font-style: italic;
    font-size: 16px;
    color: var(--color-body);
    padding: 10px 15px;
    border-radius: 4px;
    transform: rotate(322deg);
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.deal-product:hover .new-sale {
    top: 2%;
    left: -14%;
}

.deal-img img {
    width: 100%;
    display: block;
}

.deal-img a.product-link {
    position: relative;
    display: block;
    overflow: hidden;
}

.deal-product .img-sweap {
    top: 0;
    left: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.deal-img-area:hover .img-sweap {
    left: 0px;
    opacity: 1;
}

.move-action {
    position: relative;
}

.move-action>* {
    display: inline-block;
}

.move-action i {
    font-size: 30px;
}

.move-action .prev:after {
    content: "";
    top: 0;
    bottom: 0;
    width: 2.2px;
    height: 13px;
    position: absolute;
    display: inline-block;
    background: var(--color-body-text);
    margin: auto;
}

.slick-disabled {
    cursor: not-allowed;
    color: var(--color-body-text);
    opacity: 0.3;
}

.bg-disabled {
    cursor: none;
}


.deal-content .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.deal-content .info .brand {
    font-size: 12px;
    line-height: 14px;
}

.deal-content .info .name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    color: var(--color-product-title);
}



.deal-content .info ul li {
    list-style: disc outside none;
    display: list-item;
    margin-left: 1em;
    margin-bottom: 8px;
}

/* =================== Product Price Start */

.price-info {
    padding-top: 10px;
}

.price-info .rating i {
    color: #ffb507;
}

.price-info .rating {
    display: flex;
    align-items: center;
}

.rating .review-count {
    margin-left: 10px;
}

.price-info .product-price {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;

}

.price-info .product-price .price {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-btn-secondary)
}

.price-info .product-price .discount {
    color: var(--color-product-title);
    font-weight: 600;
}

.price-info .product-price .cross {
    text-decoration: line-through;
}


/* =================== Product Price  End  */

.stock .qty {
    color: #4fac43
}

.stock {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.stock .progress {

    margin: 7px 0 0;
    height: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%;
    float: left;
    background: var(--color-product-primary);
    overflow: hidden;
}

.show-progress {
    box-shadow: none;
    background: #4fac43;
    height: 100%;
}

.deal-content .offer-time {
    margin-top: 15px;
}

.deal-content .offer-time .title {
    font-weight: 500;
    font-size: 15px;
}

.deal-content .offer-time .time {
    background: var(--color-btn-secondary);
    padding: 10px;
    border-radius: 4px;
    width: auto;
    /* display: inline-block; */
    color: var(--color-body);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20%);
}

.avilable-color {
    position: absolute;
    bottom: 2%;
    left: -50%;
    display: flex;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.deal-product:hover .avilable-color {
    left: 0
}


.avilable-color .divider {
    color: rgb(229, 212, 212);
    width: 0.1px;
}

.avilable-color .size {
    font-weight: 500;
    color: var(--slick-arrow-color)
}

.avilable-color input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    content: none;
    margin: 0;
}

.avilable-color input[type="radio"]:checked {
    appearance: none;
    padding: 0;
    content: none;
    border: none;
    width: 16px;
    height: 16px;
}


.avilable-color input[type="radio"]:checked::before {
    position: absolute;
    content: "\2713";
    color: var(--color-body);
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    text-transform: uppercase;
}


/* ================= Feature Product  ================= */

.new-product-list {
    display: flex;
    justify-content: start;
    gap: 2px;
    /* background: red; */
}

.product-wrap {
    border-left: 1px solid var(--color-border);
}

/* .discount-product .product-wrap{
 width: calc(100% / 4 - 10px) !important;
} */

.product-wrap>.product:first-child {
    border-bottom: 1px solid var(--color-border);
}

.product-wrap .product {
    background: var(--color-body);
    padding: 15px;
    position: relative;
    overflow: hidden;
}


.product .new-sale {
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    /* height: 10px; */
    text-align: center;
    display: inline-block;
    background-color: var(--color-tag);
    font-style: italic;
    font-size: 15px;
    color: var(--color-body);
    padding: 6px 15px;
    border-radius: 4px;
    transform: rotate(322deg);
    z-index: 2;
    transition: all 0.5s ease-in-out;
}


.product:hover .new-sale {
    left: -31px;
    top: 3%;
}

.product-img {
    position: relative;
}

.product img {
    display: block;
    width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.product .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product .info .title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    color: var(--color-product-title);
}



.product .price-info {
    padding-top: 10px;
}

.product .rating i {
    color: #ffb507;
}

.product .rating {
    display: flex;
    align-items: center;
}

.rating .review-count {
    margin-left: 10px;
}

.product .product-price {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;

}

.product .product-price .price {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-btn-secondary)
}

.product .product-price .discount {
    color: var(--color-product-title);
    font-weight: 600;
}

.product .product-price .cross {
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 400;
    text-decoration: line-through;
}

.product .offer-time {

    font-weight: 500;
    font-size: 12px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    background: var(--color-body);
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    color: var(--slick-arrow-color);
    transition: all 0.5s ease-in-out;
}

.product .offer-time .time-divider {
    font-weight: 800 !important;
    font-size: 14px !important;
    padding-right: 6px;
    color: var(--slick-arrow-color);
}

.product .offer-time .second {
    color: var(--color-btn-secondary)
}


.product:hover .offer-time {
    opacity: 0;
}


.product .cart-widget {
    position: absolute;
    top: 25%;
    right: -50%;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.product:hover .cart-widget {
    right: 0;
}

.product .cart-widget-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product .cart-widget-list a {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background: rgb(229 229 229 / 70%);
}

.product .cart-widget svg {
    width: 16px;
    color: #000;
}

.product .product-color {
    bottom: 0;
    left: -50%;
    position: absolute;
    display: flex;
    gap: 6px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.product:hover .product-color {
    left: 0
}

.product-color input[type="radio"] {
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.product-color input[type="radio"]:checked {
    width: 14px;
    height: 14px;
    margin: 0;
}

.product-color input[type="radio"]:checked::before {
    position: absolute;
    content: "\2713";
    color: var(--color-body);
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.product .product-detail {
    padding: 10px 0;
}

.product .add-to-cart-btn {
    position: relative;
    top: 10px;
    width: 100%;
    color: var(--slick-arrow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: linear-gradient(to right, var(--color-product-primary) 50%, var(--color-yellow) 50%);
    background-position: right bottom;
    /* x / y axis */
    background-size: 200% 100%;
    /*   width, height */
    transition: all 0.5s ease-in-out;
}


.product .add-to-cart-btn:hover {
    background-position: left bottom;
}

/* .product .product-detail .cart-btn{
    display: none;
    transition: all 0.6s ease-in-out;
} */

.product .img-sweap {
    top: 0;
    left: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.product-img:hover .img-sweap {
    left: 0px;
    opacity: 1;
}


/*  vvi code for common slick slider (if your ui div is less then given "slidesToShow: 4"  */
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}



.mixed-next.slick-disabled,
.mixed-prev.slick-disabled {
    cursor: not-allowed;
    color: var(--color-body-text);
    opacity: 0.3;
}

.disabled {
    cursor: not-allowed;
    color: var(--color-body-text);
    opacity: 0.5;
}

/* .top-featured-list {
    display: flex;
    justify-content: start;
    gap: 2px;

} */



/* //============================= POPULAR BANNER =================================== */



.popular-banner-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;

}

.popular-banner {
    flex: 1 1 48%;
    display: flex;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}



.pop-img-1 {
    background: url('./image/product-list/popular/banner-04.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
}

.pop-img-2 {
    background: url('./image/product-list/popular/banner-05.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    transition: all 0.5s ease-in-out;
}

.pop-img-1:hover,
.pop-img-2:hover {
    transition: all 0.5s ease-in-out;
    background-size: 120%;
}


.btn-popular {
    background-color: var(--color-body);
    color: var(--slick-arrow-color);
    font-weight: 500;
}

.popular-banner-list .popular-banner:last-child a {
    background-color: var(--color-yellow);
}



.popular-banner-info .name {
    margin: 10px 0 15px;
    color: var(--color-body);
    display: flex;
    flex-direction: column;
}

.popular-banner-info .title {
    font-size: 24px;
    font-weight: 300;
}

.popular-banner-info .subtitle {
    font-size: 24px;
    font-weight: 500;
}

.popular-banner-info {
    padding: 26px 0 0 42px;
    transition: all 0.5s ease-in-out;
}

.popular-banner-info .banner-price {
    color: var(--color-body)
}

.popular-banner-info .price {
    font-size: 23px;
    font-weight: 500;
    color: var(--color-yellow);
}

/* =================================================  BEST SELLER ====================================================== */

.best-sellers-product>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seller-product {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-border);
    /* flex-wrap: wrap; */
}

.best-seller-list {
    border: 1px solid var(--color-border);
    border-radius: 2px;
}

.best-product {
    flex: 1 1 50%;
    display: flex;
    background: var(--color-body);
    padding: 10px;
}

.seller-product .best-product:first-child {
    border-bottom: 1px solid var(--color-border)
}

.best-img {
    width: 40%;
}


.best-img img {
    width: 100%;
    /* object-fit: cover;
    object-position: center; */
}

.product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 10px;
}

.product-info .title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    color: var(--color-product-title);
}

.product-info .rating i {
    color: #ffb507;
}

.product-price .sale-price {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-btn-secondary)
}

.product-price .discount {
    color: var(--color-product-title);
    font-weight: 600;
    font-size: 15px;
}

.product-price .actual-price {
    color: var(--color-product-title);
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    text-decoration-thickness: 0.5px;
    color: #666;
    text-decoration: line-through;
}

.product-info .cart-widget-list {
    display: flex;
    gap: 10px;
}

.product-info .cart-widget-list a {
    padding: 13px;
    background-color: var(--color-product-primary);
    display: flex;
    align-items: center;
}

.product-info .cart-widget-list svg {
    color: var(--slick-arrow-color);
    width: 15px;
    display: inline-block;
}


.product-info .add-to-cart-btn {
    width: 100%;
    color: var(--slick-arrow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: linear-gradient(to right, var(--color-product-primary) 50%, var(--color-yellow) 50%);
    background-position: right bottom;
    /* x & y axis */
    background-size: 200% 100%;
    /*   width, height */
    transition: all 0.5s ease-in-out;
}

.product-info .add-to-cart-btn:hover {
    background-position: left bottom;
}


/* ===================================  Discount product  =============================*/

.about-discount-product {
    display: flex;
}

.about-discount-product>div:first-child {
    width: 15%;
    color: var(--color-text);
}

.discount-rpoduct-list {
    flex: 1;
    width: calc(100% - 15% - 10px);
}

/* .discount-product-list {
    display: flex;
    justify-content: start;
    gap: 2px;
    flex-wrap: wrap;
} */

.show-category {
    padding: 30px 25px;
    background: var(--color-body);
}

.category-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 15px;
    position: relative;
    display: block;
}



.category-title::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.9px;
    background-color: var(--color-border);
}

.show-category ul {
    margin-top: 20px;
}


.show-category ul li:last-child {
    position: relative;
}

.show-category ul li:last-child::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.9px;
    background-color: var(--color-border);
}

.show-category ul li a {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 7px;
}

.show-category a i {
    width: 20px;
    height: 20px;
}

.icon-electronic {
    background: url(https://cdn.shopify.com/s/files/1/0633/2078/5125/files/12_7d97af2b-fa65-42c9-90f9-15b04ecc3cf0_18x18.png?v=1652087502);
    background-repeat: no-repeat;
}

.icon-mobile {
    background: url(https://cdn.shopify.com/s/files/1/0633/2078/5125/files/02_5df07687-5c81-4529-8996-2f193f65d37b_18x18.png?v=1652087226);
    background-repeat: no-repeat;
}

.icon-speaker {
    background: url(https://cdn.shopify.com/s/files/1/0633/2078/5125/files/03_33fbe835-d7f0-4b64-b968-97c1309e3407_18x18.png?v=1652087240);
    background-repeat: no-repeat;
}

.show-category .all-cat {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.show-category .all-cat {
    font-weight: 500;
}

.about-discount-product .bg-mg img {
    width: 100%;

}

.big-discount-banner {
    background: url(./image/big-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.big-discount-banner:hover {
    background-size: 110%;
}

.big-discount-banner div {
    display: flex;
    flex-direction: column;
    color: var(--slick-arrow-color);
    font-size: 25px;
    padding: 34px;
    transition: all 0.5s ease-in-out;
}

.m-title {
    font-weight: 300;
    text-transform: capitalize;
}

.m-offer {
    font-weight: 600;
}

.discount-product .product img {
    height: 176px;
    width: none;
    object-fit: contain;
}

.about-news>div:last-child {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}


.news-img {
    position: relative;
}

.search-icon {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 59%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.news-img:hover .search-icon {
    opacity: 1;
}


.search-icon i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-body);
    border: 2px solid var(--color-body);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    /* opacity: 0; */
}

.news-img:hover .search-icon i {
    /* opacity: 1; */
    width: 35px;
    height: 35px;

}

.news-img img {
    width: 100%;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
}



.about-news div p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.news-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--slick-arrow-color)
}

.about-news .desc {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.read-more {
    color: var(--color-btn-secondary);
    font-size: 14px;
    font-weight: 500;
}

.pb-10 {
    padding-bottom: 10px;
}

.news-list .slick-track .slick-slide {
    /* slick slide abhinav */
    margin: 0px 10px;
}

/* .slick-list.draggable {
    margin: 0 -10px;
} */

.about-news .calendar {
    border-top: 2px solid var(--color-border);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.about-news .calendar span {
    display: flex;
    align-items: center;
}

/*   ############################  company profile  ##################### */

.company-profile {
    padding: 2rem 0;
}

.compnay-img {
    display: flex;
    justify-content: left;
    overflow: hidden;
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
}

.compnay-img:hover {
    opacity: 1;
}


.company-profile .slick-track .slick-slide {
    /* slick slide abhinav */
    margin: 0px 30px;
}


/* ########################  FOOTER  SECTION  #################*/

.top-footer {
    background: var(--footer-top-color);
    padding: 20px 0;
}

.bottom-footer ul {
    display: flex;
}

.about-site {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .top-footer {
    color: var(--color-body);
}

footer .top-footer .product-heading {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--color-body);
}

footer .about-site>div {
    flex: 1 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .subscribe .product-heading::before {
    content: '\2709';
    /* css code  (unicode) */
    font-size: 30px;
    color: var(--color-body)
}

footer .about-site p {
    font-style: italic;
}

footer .sub-input {

    margin-top: 20px;
    background-color: var(--color-body);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    width: 85%;
}

footer .btn-subscribe {
    background: var(--color-yellow);
    color: var(--slick-arrow-color);
    font-weight: 500;
    background: var(--color-yellow);
    color: var(--slick-arrow-color);
    font-weight: 500;
    padding: 11px 16px;
}

footer .sub-input input {
    padding: 10px;
    border: 0;
    color: var(--color-body-text);
    font-weight: 500;
    caret-color: var(--slick-arrow-color);
    width: 100%;

}

footer .social {
    padding: 0px 58px;
    border-left: 1px solid rgba(192, 192, 192, 0.1);
    border-right: 1px solid rgba(192, 192, 192, 0.1);
}

footer .app {
    padding-left: 58px;
}

.app-store img {
    max-width: 100%;
    height: auto;
}




footer .social-links {
    display: flex;
    gap: 5px;
}

footer .social-links a {
    /* padding:15px;
    background: red; */
    display: flex;
    justify-content: center;
    align-items: center;


}

footer .social-links .mdi::before {
    font-size: 40px;
    color: var(--color-body);
}

footer .social-links .md {
    color: var(--color-body);
}

/*  ######################### top-footer ######################  */

footer .footer {
    padding: 45px 0;
    background: var(--color-text);
    color: var(--color-body);
}

footer .call-detail {
    display: flex;
    gap: 30px;
    align-items: center;
}

footer .call-detail svg {
    width: 40px;
    height: 40px;
}

footer .call-detail div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer .call-detail div:last-child a {
    display: block;
    width: 100%;
    color: var(--color-btn-secondary);
    font-size: 17px;
    font-weight: 600;
    margin-top: 4px;
}

footer .product-heading {
    color: var(--color-body);
    margin-bottom: 30px;
}




.footer .address {
    margin-top: 40px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    color: var(--color-footer-content);
}

.footer .address a {
    color: var(--color-footer-content);
}

.footer .address svg {
    width: 18px;
    height: 18px;
}

.footer .address>div {
    display: flex;
    gap: 12px;
}

.footer .footer-link {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer .footer-link>div {
    flex: 1 30%;
}

.footer .footer-link>div.tags {
    flex: 25%;
    color: var(--color-footer-content)
}



.footer .tags ul li {
    display: inline-block;
    margin: 4px;

}

.footer .tags ul li a {
    display: inline-block;
    padding: 10px 12px;
    background: #3c464f;
    border-radius: 5px;
}

.footer .links {
    display: flex;
    justify-content: start;
    gap: 60px;
}

.footer .links ul a {
    display: inline-block;
    padding: 6px;
    color: var(--color-footer-content)
}

.bottom-footer {
    background: var(--footer-top-color);
    padding: 10px;
}

.bottom-footer .payment-n-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-footer-content);
}

.payment-icons li {
    margin: 0 3px 0 0;
}


/*  ######################### Top Scrool ######################  */
.move-up {
    display: none;
}

.move-up a {
    padding: 12px 13px;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    background: var(--color-btn-secondary);
    color: var(--color-body);
    transition: all 0.3s ease-in-out;
}

.move-up i {
    font-size: 22px;
}

.move-up a:hover {
    background: var(--color-btn-primary);
    bottom: 55px;
}

/*  ######################### Overlay ######################  */

.overlay::before {
    z-index: 1;
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 50%);
}

.overlay {
    overflow: hidden;
}



/*  ######################### Modal ######################  */

.modal {
    position: fixed;
    width: 880px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-body);
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    overflow-y: auto;
}

.modal>div {
    width: calc(100% / 2);

}

.modal .modal-img {
    position: relative;
}

.modal .close {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 4px;
    background: var(--color-body);
}



.modal .model-img img {
    width: 100%;
    display: inline-block;
}

.modal .modal-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 30px 10px;
    text-align: center;
}

.modal .modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* justify-content: center; */
}


.modal-product-heading {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-btn-secondary);
    word-spacing: 4px;
}

.modal-info p {
    color: var(--slick-arrow-color);
    line-height: 1.7;
}

.modal-info .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.modal-info .input input,
.modal-info button {
    width: 100%;
    text-align: center;
    padding: 13px 20px;
    outline: none;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-weight: 500;
}

.btn-subscribe {
    background-color: var(--color-btn-secondary);
    text-transform: uppercase;
    color: var(--color-body);
}

.respnoser-list {
    margin-top: 30px;
    /* text-align: center; */
    margin: 0 -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.respnoser-list>img {
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    max-width: max-content;
    display: inline-block;
}






.modal .checked {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
    text-transform: capitalize;
}

.modal .checked input {
    width: 15px;
    height: 15px;
}

.modal .social-link-modal {
    display: flex;
    gap: 22px;
}

.modal .social-link-modal .mdi {
    font-size: 36px;
}

.modal .social-link-modal a {
    color: inherit;
}

.modal .close .mdi::before {
    font-size: 32px;
    color: var(--slick-arrow-color);
}