@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,600&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1300px;
    /* width:90%; */
    margin: auto;
}

a {
    text-decoration: none;
    outline: none;
}

.btn {
    padding: 7px 20px;
    border-radius: 18px;
    color: #fff;
}

.flex {
    display: flex;
}

.center-dir {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}


/*########################### NAVIGATION  ########################*/

.nav-list {
    display: flex;
    justify-content: space-between;
    /* background:gray; */
    padding: 10px 0;
    align-items: center;
}

.nav-list li {
    list-style: none;
    display: inline;
}

.nav-list li a {
    display: inline-block;
    padding: 10px 30px;
    color: rgba(28, 73, 97, 0.7);
    transition: all 0.6s ease-in-out;
}

.nav-list li .active {
    color: rgb(28, 73, 97);
    font-weight: 500;
}

.nav-list li a:hover {
    background: rgba(135, 140, 143, 0.7);
    color: rgb(28, 73, 97);
    font-weight: 500;
}

.btn-basic {
    background: #446be2;

}

.nav-list .logo {
    color: rgb(68, 104, 226);
    font-weight: 500;
}






/* ###################################### BANNER ##################################### */

.about-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;

}

.banner-content {
    color: #fff;
    width: calc(100% - 60%);
    text-align: center;
}

.banner-content h2 {
    text-transform: uppercase;
    font-size: 2.1rem;
}

.banner-content p {
    color: rgba(255, 255, 255, 0.68)
}

.about-banner .filter {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 73%, rgba(60, 147, 149, 1));

    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}

.filter .go {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 15px;

}

.filter .btn-basic {
    border-radius: 10px;
}

.banner .filter-list {
    display: flex;
}

.filter>div {
    padding: 6px;
}

.filter .go input {
    border: 0px;
    outline: none;
    padding-right: 4px;
    max-width: 120px
}

.filter label {
    font-size: 12px;
    font-weight: 600;
}

.filter .fa {
    opacity: 0.2;
    display: inline-block;
}

.filter .go input:focus {
    opacity: 0.6;
}

.expore-btn {
    margin: auto;
}

.btn-explore {
    background: #446be2;
    padding: 12px 19px;
    border-radius: 11px;
}

.b-r-0 {
    border-right: 0 !important;
}

.section-height {
    padding-top: 12rem;
}

/* ###################################### SSERVICE ##################################### */

.service-box .service {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* background-color: red; */
}

.service .sb {
    flex: 1;
    /* margin: 0 2rem 2rem 2rem; */
    border-radius: 20px;
    padding: 24px;
    /* background-color: #446be2; */
    box-shadow: 1px 12px 20px 15px #f3f3f3;
}

.sb img {
    display: block;
    background: #EBF0FE;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    height: 68px;
}

.sb span {
    font-weight: 600;
    font-size: 17px;
    padding: 10px 0;
    display: block;
    text-transform: capitalize;
}

.sb p {
    padding: 20px 0 0 0;
    font-weight: 300;
}



/* ###################################### RECOMMENDED DESTINATION ##################################### */


.recommended .rec-article {
    text-align: center;
}

.recommended .tab-list {
    display: flex;
    justify-content: center;
}

.recommended .rec-tab {
    padding-top: 3rem;
    display: flex;
    position: relative;
    width: 60%;
}

.rec-tab a {
    color: #163235;
    font-weight: 500;
}

.recommended .tab {
    flex: 1;
    cursor: pointer;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 2px solid #e8ebec;
}

.recommended .tab.active,
.recommended .tab:hover {
    border-color: #163235;
    border-bottom-width: 5px;
}

.tour {
    display: flex;
    padding: 2rem 0;
    flex-wrap: wrap;
    /* margin: -30px; */
}

.tour-info {
    width: calc(100% / 3 - 30px);
    margin: 4rem 15px;

}

.tour-info img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.tour-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1d4347;
}

/* .tour-content{
    margin-left: 5px;
  } */

.tour-info span {
    font-weight: 600;
    color: #163235;
    font-size: 17px;
    display: block;
    text-transform: capitalize;
    text-align: left;
}

.tour-info .service {
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.service img {
    /* width: 100%; */
    display: inline-block;
    /* object-fit: cover; */


}

.price-info {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.distance {
    color: #163235;
}

.price {
    font-weight: 600;
    font-size: 21px;
}


/* #####################  BLOG ############### */
.blog {
    margin-top: 172px;
    /* height: 100vh; */
}

.blog .blog-heading {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 27px;
}


.blog .blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog-first{
    width: 53%;
    background: url(./img/NoPath.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 107px 132px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-first::after{
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: block;
    background:#4141417A;
    position:absolute;
    z-index: 0;

}

.blog .blog-text{
    color:#fff;
    z-index: 1;
    font-size: 30px; 
    text-align: center;
    line-height:40px ;
    font: normal normal bold 50px/61px Proxima Nova Alt;

}
.blog-second {
    width: calc(100% - 53% - 20px);
    display: flex;
    gap: 10px;
    flex-direction: column;
  
}
 .blog-second .second-1{
    padding:87px 129px;
   background:url(./img/eva-darron-oCdVtGFeDC0-unsplash.png);
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px;
   position:relative;
   
}

 .second-2{
    padding:87px 78px;
   background:url(./img/eva-darron-oCdVtGFeDC0-unsplash.png);
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px;
   position:relative;


}

.second-1 p, .second-2 p{
    color:#fff;
    font-size: 30px; 
    text-align: center;
    line-height:40px ;
    z-index: 30;
    position: relative;
}


.blog-second .second-1::after,.blog-second .second-2::after{
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: block;
    background:#4141417A;
    position:absolute;
    z-index: 20;

}



