    /* flex: 1 
       flex-grow,
       flex-shrink,
       flex-basis
    */


@import url('https://fonts.googleapis.com/css2?sizfont-size=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* ##########   UTILITY CLASS  ###############*/
.container {
    max-width: 1200px;
    /* width:90%; */
    margin: auto;                                     /* vvi */
}
a{
    text-decoration: none;
}

.btn{
    display: inline-block;                    /* vvi */
    padding: 1em 2.5em;
    border-radius: 50px;                         /* vvi */
    outline: none;
    cursor: pointer;
    margin-top: 1em;
    text-transform: uppercase;       /* vvi */
    font-weight: 500;
}

.btn-primary{
    color:#fff;
    background: #16a083;
}

/* ################# NAV BAR STYING ############################## */

/* ######## FOR DESKTOP BAR */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;    /* vvi */
    width: 100%;     /* vvi */
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.logo {
    order: 1;
    font-size: 3rem;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color:#117964;
}

               /* ############### SHOW CASE STYLE  */

.showcase-area{
    height: 73vh;                         /* vvi */
    background: linear-gradient(rgba(240,240,240,0.144),rgba(255,255,255,0.336)),url('./img/header-image2.jpg'); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.showcase-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100%;
     font-size: 1.6rem;
}

.main-title{
    text-transform: uppercase;
}

              /* ############## ABOUT SECTION   ################## */

#about{
    padding: 50px 0px;
    background: #f5f5f7;
}          


#about h2{
    font-size: 3.2rem;
}

#about p{
    font-size: 1.6;
    color:#555;
}
#about .small{
    font-size: 1.6rem;
    color:#666;
    font-weight: 600;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.about-img{
     flex: 1 1 400px;
     padding: 30px;
}

.about-text{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-35%);
    animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
     100%{
        transform: translate(0);
     }
}

.about-img img{
     display: block;
     /* height: 400px; */
     max-width: 100%;
     margin: auto;
     object-fit: cover;  /* stop sring */
     object-position: right;
     transform: translateX(35%);
     animation: about-image-animation 1s ease-in-out forwards;
}

@keyframes about-image-animation{
     100%{
        transform: translateX(0);
     }
}

              /*################3 TYPES OF FOOD  #########################*/

 #food{
    padding: 2rem 0 2rem 0;
 }
 #food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color:#555;
 }

 .food-container{
    display: flex;
    justify-content: space-between;
 }

 .food-container img{
  display: inline-block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: right;
 }

 .img-container{
    margin: 0 1rem;
    position: relative;
 }

 .img-content{
    position:absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
 }

 .img-container h3{
    color: #fff;
    font-size: 3rem;
 }

 .img-container  a{
    font-size: 1.2rem;
 }

 .img-container::after{
    content: "";
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.871);
    z-index: 0;
    transform:  scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
 }

 .img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
 }


 .img-container:hover .img-content{
    opacity: 1;
    top:40%;
 }

           
 /*######################################     FOOD MENU     ######################################*/
                    
 
 .food-menu{
    padding: 1rem 0 3rem 0;
 }
 .food-menu h2{
    text-align: center;
    margin-bottom: 4rem;
 }

 .food-menu-container{
    display: flex;
    flex-wrap: wrap;
 }

 .food-menu-item{
    display: flex;
    flex: 1 1 460px;
    margin-bottom: 3rem;
    justify-content: space-evenly;
 }

 .food-image img{
    width: 200px;
    height: 200px;
    border-radius:100px;
    display: block;
    object-fit:cover;
    object-position: center;
 }

 .fm-content{
    margin: auto 1.5rem;
 }
