    /* flex: 1 
       flex-grow,
       flex-shrink,
       flex-basis
    */
@import url('https://fonts.googleapis.com/css2?sizfont-size=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}


/* ##########   UTILITY CLASS  ###############*/
.container {
    max-width: 1200px;
    /* width:90%; */
    margin: auto;                                     /* vvi */
}


.btn{
    padding: 13px 36px;
    background: green;
    margin: 15px 0;
    border-radius: 26px;
    color: #fff;
    display: inline-block;
    font-size: 19px;
    outline: none;
}

     /* ##############################  NAVIGATION  ############################# */
.navigation{
    box-shadow: 0px 2px 8px 3px rgb(0 0 0 / 20%);
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:13px 0;
    
}


.nav li{
  display: inline-block;
  list-style: none;
}

.nav a{
    padding: 8px;
    font-weight: 500;
    font-size: 18px;
    color: #444;
    transition: color 0.7s ease-in-out;
}

.nav a:hover{
    color:red
}

.nav h2{
    font-size: 30px;
    color: #444;
}



                    /* #######################  Banner ################### */

.banner{
    background-image: url("./img/header-image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-info{
    text-align: center;
}

.banner-info h2{
    font-weight: 600;
    font-size: 2.6rem;
    text-transform: uppercase;
}
.banner-info p{
    font-weight: 300;
    font-size: 1.6rem;
}

                      /* ######################   ABOUT  ####################### */
#about{
  padding: 50px 0 ;
  background: #f5f5f7;
}

.about-us{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    padding:0 0 0 10px;
}

.about-us .img , .about-us .info {
    flex: 1 1 400px;
}

.about-us img{
     display: block;
     width: 100%;
     object-fit: cover;
     object-position: center;
     transform: translateX(100px);
     animation: imgAnimation 2s forwards;
}

@keyframes imgAnimation{
      100%{transform: translateX(0);
        
      }
}

.about-us .info{
   margin: auto;
   transform: translateX(-60px);
   animation: infoAnimation 2s forwards ;
}

@keyframes infoAnimation{
    100%{
        transform: translateX(0);
    }
}

.about-us .info h2{
    font-size: 1.7rem;
    opacity: 0.5;
}
.about-us .text{
    font-size: 3rem;
    font-weight:bold;
    
}

.about-us .detail{
   font-size: 1.5rem;
   line-height: 1.5;
   margin-top: 5px;
}



                 /* ################################# FOOD TYPE  ########################################*/

#foods{
    margin:5rem 0 ;
}

.food-info h2{
text-align: center;
text-transform: uppercase;
 margin:3rem 0;
 font-size: 2.7rem;
}

.food-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.food-detail{
    flex:1;
    margin: 0 10px;
    position: relative;
}

.food-detail img{
   display: block;
   width: 100%;
   object-fit: cover;
   object-position: center;
}

/* .food-detail .overlay{
   text-align: center;
} */
.overlay span{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    color:white;
}

.overlay{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

.food-detail::after{
    content: "";
    position: absolute;
    bottom: 0;
    right:0;
    height: 0;
    width: 100%;
    background: rgba(0,0,0,0.871);
    z-index: 1;
    opacity: 0;
    transition: all 1.2s ease-in-out;
}

.food-detail:hover .overlay{
     opacity: 1;
}

.food-detail:hover::after{
    opacity: 1;
    height: 100%;
}


