*,
*::after,
*::before{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

#box{
    border: 1px solid red;
    width: 30%;
    margin: auto;
    position: relative;
    /* overflow: hidden; */
}
#box img{
    width: 100%;
    display: block;
}

.box-container a{
    padding: 10px 20px;
    border:solid 1px ;
    cursor: pointer;
    border-radius: 17px;
    text-decoration: none;
    background:green;
    color: white;
}

.box-container{
   position:absolute;
   top:50%;
   left: 13%;
   transform: translate(-50%,-50%);
   background: gray;
   line-height: 2;
   text-align: center;
   z-index: 2;
   opacity: 0;
   transition: all 0.5s ease-in-out;
}

#box::after{
    position: absolute;
    content: "abhishek";
    width: 100%;
    height: 100%;
    display: block;
    background: rgb(0,0,0,0.654);
    top:0;
    left: 0;
    z-index: 1;
    opacity: 0;
   /* transition: all 1s ease-in-out; */

}

#box:hover .box-container{
    opacity: 1;
    left: 50%;
}


#box:hover::after{
    opacity: 1;
}
